Repository SlimeVR/SlimeVR-Server, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Eirenliel, @ButterscotchV, @Erimelowo, @ImUrX, @loucass003

format
  gui/src/components/WidgetsComponent.tsx
  gui/src/components/home/ResetButton.tsx
  gui/src/hooks/firmware-update.ts
Owners: @ImUrX, @loucass003

fix: use transaction id in RPC reponses
  server/core/src/main/java/dev/slimevr/protocol/rpc/RPCHandler.kt
  server/core/src/main/java/dev/slimevr/protocol/rpc/settings/RPCSettingsHandler.kt
  server/core/src/main/java/dev/slimevr/protocol/rpc/trackingpause/RPCTrackingPause.kt
Owners: @ButterscotchV, @Eirenliel, @Erimelowo

ManualProportions do not wrap height text
  gui/src/components/onboarding/pages/body-proportions/ManualProportions.tsx
Owners: @ImUrX, @loucass003

CalibrationTutorial include trackerId
  gui/src/components/onboarding/pages/CalibrationTutorial.tsx
Owners: @ImUrX, @loucass003

Fix endian docs for smol HID (#1520)
  server/desktop/src/main/java/dev/slimevr/desktop/tracking/trackers/hid/TrackersHID.kt
Owners: @ButterscotchV, @Eirenliel, @Erimelowo

Foot snapping fix (#1519)
  server/core/src/main/java/dev/slimevr/tracking/processor/skeleton/LegTweaks.kt
Owners: @ButterscotchV, @Eirenliel, @Erimelowo

Implement awful reading
  server/android/src/main/java/dev/slimevr/android/tracking/trackers/hid/TrackersHID.kt
Owners: @ButterscotchV, @Eirenliel, @Erimelowo

Initial Android USB HID support
  server/android/src/main/AndroidManifest.xml
  server/android/src/main/java/dev/slimevr/android/Main.kt
  server/android/src/main/java/dev/slimevr/android/tracking/trackers/hid/HIDDevice.kt
  server/android/src/main/java/dev/slimevr/android/tracking/trackers/hid/TrackersHID.kt
  server/android/src/main/res/xml/device_filter.xml
Owners: @ButterscotchV, @Eirenliel, @Erimelowo

De-duplicate HID code
  server/android/src/main/java/dev/slimevr/android/tracking/trackers/hid/HIDDevice.kt
  server/android/src/main/java/dev/slimevr/android/tracking/trackers/hid/TrackersHID.kt
  server/core/src/main/java/dev/slimevr/tracking/trackers/hid/HIDCommon.kt
  server/core/src/main/java/dev/slimevr/tracking/trackers/hid/HIDDevice.kt
  server/desktop/src/main/java/dev/slimevr/desktop/tracking/trackers/hid/TrackersHID.kt
Owners: @ButterscotchV, @Eirenliel, @Erimelowo

Reconnect HID
  server/android/src/main/java/dev/slimevr/android/tracking/trackers/hid/TrackersHID.kt
  server/android/src/main/java/dev/slimevr/android/tracking/trackers/hid/UsbDeviceHID.kt
Owners: @ButterscotchV, @Eirenliel, @Erimelowo

Persist UsbDeviceConnection
  server/android/src/main/java/dev/slimevr/android/tracking/trackers/hid/TrackersHID.kt
  server/android/src/main/java/dev/slimevr/android/tracking/trackers/hid/UsbDeviceHID.kt
Owners: @ButterscotchV, @Eirenliel, @Erimelowo

Use Android USB events for HID instead of polling
  server/android/src/main/java/dev/slimevr/android/Main.kt
  server/android/src/main/java/dev/slimevr/android/tracking/trackers/hid/TrackersHID.kt
Owners: @ButterscotchV, @Eirenliel, @Erimelowo

Remove device reattach handling
  server/android/src/main/java/dev/slimevr/android/tracking/trackers/hid/TrackersHID.kt
Owners: @ButterscotchV, @Eirenliel, @Erimelowo

Move deviceIdLookup to HIDCommon
  server/android/src/main/java/dev/slimevr/android/tracking/trackers/hid/TrackersHID.kt
  server/core/src/main/java/dev/slimevr/tracking/trackers/hid/HIDCommon.kt
  server/desktop/src/main/java/dev/slimevr/desktop/tracking/trackers/hid/TrackersHID.kt
Owners: @ButterscotchV, @Eirenliel, @Erimelowo

Rename HID classes for clarity
  server/android/src/main/java/dev/slimevr/android/Main.kt
  server/android/src/main/java/dev/slimevr/android/tracking/trackers/hid/AndroidHIDDevice.kt
  server/android/src/main/java/dev/slimevr/android/tracking/trackers/hid/AndroidHIDService.kt
  server/desktop/src/main/java/dev/slimevr/desktop/Main.kt
  server/desktop/src/main/java/dev/slimevr/desktop/tracking/trackers/hid/DesktopHIDService.kt
Owners: @ButterscotchV, @Eirenliel, @Erimelowo

Make Android USB host mode optional
  server/android/src/main/AndroidManifest.xml
Owners: @ButterscotchV, @Eirenliel, @Erimelowo

Fix HID service comments
  server/android/src/main/java/dev/slimevr/android/tracking/trackers/hid/AndroidHIDService.kt
  server/desktop/src/main/java/dev/slimevr/desktop/tracking/trackers/hid/DesktopHIDService.kt
Owners: @ButterscotchV, @Eirenliel, @Erimelowo

Additional comments
  server/android/src/main/java/dev/slimevr/android/tracking/trackers/hid/AndroidHIDDevice.kt
  server/core/src/main/java/dev/slimevr/tracking/trackers/hid/HIDCommon.kt
Owners: @ButterscotchV, @Eirenliel, @Erimelowo

Use USB events for serial & re-request permission
  server/android/src/main/java/dev/slimevr/android/serial/AndroidSerialHandler.kt
Owners: @ButterscotchV, @Eirenliel, @Erimelowo

Add comments for USB attach/detach events
  server/android/src/main/java/dev/slimevr/android/serial/AndroidSerialHandler.kt
Owners: @ButterscotchV, @Eirenliel, @Erimelowo

Extra requestingPermission handling for new device
  server/android/src/main/java/dev/slimevr/android/serial/AndroidSerialHandler.kt
Owners: @ButterscotchV, @Eirenliel, @Erimelowo

Rename HID "Service" to "Manager"
  server/android/src/main/java/dev/slimevr/android/Main.kt
  server/android/src/main/java/dev/slimevr/android/tracking/trackers/hid/AndroidHIDManager.kt
  server/desktop/src/main/java/dev/slimevr/desktop/Main.kt
  server/desktop/src/main/java/dev/slimevr/desktop/tracking/trackers/hid/DesktopHIDManager.kt
Owners: @ButterscotchV, @Eirenliel, @Erimelowo

Use val for usbReceiver
  server/android/src/main/java/dev/slimevr/android/tracking/trackers/hid/AndroidHIDManager.kt
Owners: @ButterscotchV, @Eirenliel, @Erimelowo

Make ACTION_USB_PERMISSION const
  server/android/src/main/java/dev/slimevr/android/serial/AndroidSerialHandler.kt
Owners: @ButterscotchV, @Eirenliel, @Erimelowo

Fix serial staying open after disconnect
  server/android/src/main/java/dev/slimevr/android/serial/AndroidSerialHandler.kt
Owners: @ButterscotchV, @Eirenliel, @Erimelowo

Clear request more & update usbReceiver comment
  server/android/src/main/java/dev/slimevr/android/serial/AndroidSerialHandler.kt
Owners: @ButterscotchV, @Eirenliel, @Erimelowo

Ensure serial port closure
  server/android/src/main/java/dev/slimevr/android/serial/AndroidSerialHandler.kt
Owners: @ButterscotchV, @Eirenliel, @Erimelowo

Use a read buffer for Android serial
  server/android/src/main/java/dev/slimevr/android/serial/AndroidSerialHandler.kt
Owners: @ButterscotchV, @Eirenliel, @Erimelowo

Messy race condition patch for constraints
  server/core/src/main/java/dev/slimevr/tracking/processor/Constraint.kt
Owners: @ButterscotchV, @Eirenliel, @Erimelowo

update linux metadata (#1524)
  gui/src-tauri/dev.slimevr.SlimeVR.metainfo.xml
Owners: @ImUrX

Pontoon: Update Polish (pl) localization of GUI
  gui/public/i18n/pl/translation.ftl
Owners: @ImUrX, @Erimelowo

Pontoon: Update Thai (th) localization of GUI
  gui/public/i18n/th/translation.ftl
Owners: @ImUrX, @Erimelowo

Pontoon: Update Thai (th) localization of GUI
  gui/public/i18n/th/translation.ftl
Owners: @ImUrX, @Erimelowo

Pontoon: Update Simplified Chinese (zh-Hans) localization of GUI
  gui/public/i18n/zh-Hans/translation.ftl
Owners: @ImUrX, @Erimelowo

Pontoon: Update Thai (th) localization of GUI
  gui/public/i18n/th/translation.ftl
Owners: @ImUrX, @Erimelowo

Pontoon: Update Traditional Chinese (zh-Hant) localization of GUI
  gui/public/i18n/zh-Hant/translation.ftl
Owners: @ImUrX, @Erimelowo

Pontoon: Update Arabic (ar) localization of GUI
  gui/public/i18n/ar/translation.ftl
Owners: @ImUrX, @Erimelowo

Pontoon: Update Arabic (ar) localization of GUI
  gui/public/i18n/ar/translation.ftl
Owners: @ImUrX, @Erimelowo

Pontoon: Update Latinamerican Spanish (es-419) localization of GUI
  gui/public/i18n/es-419/translation.ftl
Owners: @ImUrX, @Erimelowo

Pontoon: Update French (fr) localization of GUI
  gui/public/i18n/fr/translation.ftl
Owners: @ImUrX, @Erimelowo

.github/CODEOWNERS:

# Global code owner
* @Eirenliel

# Make everyone be able to approve SolarXR submodule changes
/solarxr-protocol @ButterscotchV @Erimelowo @ImUrX @loucass003

# Make Loucas and Uriel the owners of all GUI stuff
/gui/ @ImUrX @loucass003
/pnpm-lock.yaml @ImUrX @loucass003
/pnpm-workspace.yaml @ImUrX @loucass003

# Uriel and Erimel responsible for i18n
/gui/public/i18n/ @ImUrX @Erimelowo
/gui/src/i18n/ @ImUrX @Erimelowo
/l10n.toml @ImUrX @Erimelowo

/gui/src/components/settings/ @Erimelowo @ImUrX @loucass003

# Rust part of the GUI
/gui/src-tauri/ @ImUrX
/Cargo.lock @ImUrX

# Some server code~
/server/ @ButterscotchV @Eirenliel @Erimelowo

/server/src/main/java/dev/slimevr/autobone/ @ButterscotchV
/server/src/main/java/dev/slimevr/poserecorder/ @ButterscotchV
/server/src/main/java/dev/slimevr/posestreamer/ @ButterscotchV

/server/src/main/java/dev/slimevr/osc/ @Erimelowo
/server/src/main/java/dev/slimevr/tracking/processor/ @Erimelowo
/server/src/main/java/dev/slimevr/filtering/ @Erimelowo

# Linux files
*.nix @ImUrX
/flake.lock @ImUrX
/dev.slimevr.SlimeVR.metainfo.xml @ImUrX
/.envrc @ImUrX
