Repository SlimeVR/SlimeVR-Server, pull requests merged in 2022-12, with the labels that each got.

#344 fix broken message receiving in linux
  server/src/main/java/dev/slimevr/platform/linux/UnixSocketBridge.java
Labels: Area: Application Protocol, OS: Linux

#386 Update README.md
  README.md
Labels: Area: Documentation

#374 Create new Japanese translation
  gui/src/i18n/config.ts
  gui/src/i18n/ja/translation.json
Labels: Area: Translation

#377 Include font for colour flags on Windows
  gui/public/fonts/TwemojiCountryFlags.woff2
  gui/src/index.css
  server/resources/ThirdPartyNotices.txt
Labels: Type: Feature Request, Area: GUI

#392 fixes socket not being deleted on exit
  server/src/main/java/dev/slimevr/VRServer.java
  server/src/main/java/dev/slimevr/platform/linux/UnixSocketBridge.java
Labels: Type: Bug, OS: Linux, Area: SteamVR Driver

#391 Korean translation improved and words replaced
  gui/src/i18n/ko/translation.json
Labels: Area: Translation

#387 Fixed some polish translations
  gui/src/i18n/pl/translation.json
Labels: Area: Translation

#389 Fixed index out of bounds on data feed configs
  server/src/main/java/dev/slimevr/protocol/ConnectionContext.java
  server/src/main/java/dev/slimevr/protocol/datafeed/DataFeedHandler.java
Labels: Type: Bug, Area: Application Protocol

#388 Fixed NPE in catch of UDP Server
  server/src/main/java/dev/slimevr/vr/trackers/udp/TrackersUDPServer.java
Labels: Type: Bug, Area: Hardware Protocol

#384 Make front the default mounting orientation
  gui/src/components/tracker/TrackerSettings.tsx
  server/src/main/java/dev/slimevr/vr/trackers/IMUTracker.java
  server/src/main/java/dev/slimevr/vr/trackers/TrackerMountingRotation.java
Labels: Priority: Low, Area: GUI

#378 Filtering amount check
  server/src/main/java/dev/slimevr/config/CurrentVRConfigConverter.java
  server/src/main/java/dev/slimevr/config/VRConfig.java
Labels: Type: Bug, Priority: Normal

#382 Add Italian Translation
  gui/src/i18n/config.ts
  gui/src/i18n/it/translation.json
Labels: Area: Translation

#383 Basic workaround for using multiple sets on one network
  server/src/main/java/dev/slimevr/Main.java
  server/src/main/java/dev/slimevr/VRServer.java
  server/src/main/java/dev/slimevr/config/ServerConfig.java
  server/src/main/java/dev/slimevr/config/VRConfig.java
Labels: Type: Feature Request, Area: Hardware Protocol, Priority: Normal

#394 Remove ReferenceAdjustedTracker
  package-lock.json
  server/src/main/java/com/jme3/math/Quaternion.java
  server/src/main/java/dev/slimevr/poserecorder/PoseFrameTracker.java
  server/src/main/java/dev/slimevr/poserecorder/TrackerFrame.java
  server/src/main/java/dev/slimevr/protocol/rpc/RPCHandler.java
  server/src/main/java/dev/slimevr/vr/trackers/ComputedTracker.java
  server/src/main/java/dev/slimevr/vr/trackers/IMUTracker.java
  server/src/main/java/dev/slimevr/vr/trackers/ReferenceAdjustedTracker.java
  server/src/main/java/dev/slimevr/vr/trackers/Tracker.java
  server/src/main/java/dev/slimevr/vr/trackers/udp/TrackersUDPServer.java
  server/src/test/java/dev/slimevr/unit/ReferenceAdjustmentsTests.java
Labels: Type: Enhancement

#406 fix languages menu not fitting text
  gui/src/components/commons/Dropdown.tsx
Labels: Type: Bug, Area: GUI

#402 Improve French translation
  gui/src/i18n/en/translation.json
  gui/src/i18n/fr/translation.json
  gui/src/i18n/owo/translation.json
Labels: Area: Translation

#399 Fix config.ts and tracker assignment goto
  gui/src/components/tracker/SingleTrackerBodyAssignmentMenu.tsx
  gui/src/i18n/config.ts
  gui/src/i18n/en/translation.json
  gui/src/i18n/owo/translation.json
Labels: Type: Bug

#408 Fix lang select not fitting again
  gui/src/components/commons/Dropdown.tsx
Labels: Type: Bug, Area: GUI

#411 Fix git versioning
  gui/src/components/TopBar.tsx
  gui/src/global.d.ts
  gui/src/vite-env.d.ts
  gui/vite.config.ts
  server/build.gradle
Labels: Type: Bug, Area: GUI

#410 Chinese typo & grammar fixes
  gui/src/i18n/zh/translation.json
Labels: Area: Translation

#409 minor italian traslation fix
  gui/src/i18n/it/translation.json
Labels: Area: Translation

#419 Add dialect subtags
  gui/public/i18n/en-OwO/translation.ftl
  gui/public/i18n/zh-Hans/translation.ftl
  gui/src/i18n/config.ts
Labels: Area: Translation

#415 Spanish Translation in Fluent
  gui/public/i18n/es-419/translation.ftl
  gui/src/i18n/config.ts
Labels: Area: Translation

#413 Linux bundling with the jar
  .github/workflows/build-gui.yml
  .github/workflows/gradle.yaml
  gui/package.json
  gui/src-tauri/src/main.rs
  gui/src-tauri/tauri.conf.json
  package.json
Labels: OS: Linux

#417 Add feeder translation keys
  gui/public/i18n/en-OwO/translation.ftl
  gui/public/i18n/en/translation.ftl
  gui/public/i18n/es-419/translation.ftl
  gui/public/i18n/fr/translation.ftl
  gui/public/i18n/it/translation.ftl
  gui/public/i18n/ja/translation.ftl
  gui/public/i18n/ko/translation.ftl
  gui/public/i18n/pl/translation.ftl
  gui/public/i18n/pt-BR/translation.ftl
  gui/public/i18n/vi/translation.ftl
  gui/public/i18n/zh-Hans/translation.ftl
Labels: Area: Translation

#416 Improve developer experience on translation changes
  gui/public/i18n/en-OwO/translation.ftl
  gui/public/i18n/en/translation.ftl
  gui/public/i18n/fr/translation.ftl
  gui/public/i18n/it/translation.ftl
  gui/public/i18n/ja/translation.ftl
  gui/public/i18n/ko/translation.ftl
  gui/public/i18n/pl/translation.ftl
  gui/public/i18n/pt-BR/translation.ftl
  gui/public/i18n/vi/translation.ftl
  gui/public/i18n/zh-Hans/translation.ftl
  gui/scripts/convert-fluent.js
  gui/src/components/onboarding/pages/ConnectTracker.tsx
  gui/src/components/tracker/TrackerSettings.tsx
  gui/src/i18n/config.ts
  gui/vite.config.ts
Labels: Area: GUI, Area: Translation

#425 Change emoji for latin american spanish
  gui/src/i18n/config.ts
Labels: Area: Translation

#426 Controller Translation
  gui/public/i18n/ja/translation.ftl
Labels: Area: Translation

#401 Kotlin revolution
  gradle.properties
  server/build.gradle
  server/build.gradle.kts
  server/src/main/java/dev/slimevr/Main.java
  server/src/main/java/dev/slimevr/Main.kt
  server/src/main/java/dev/slimevr/bridge/ProtobufBridge.java
  server/src/main/java/dev/slimevr/config/FiltersConfig.java
  server/src/main/java/dev/slimevr/filtering/QuaternionMovingAverage.java
  server/src/main/java/dev/slimevr/platform/SteamVRBridge.java
  server/src/main/java/dev/slimevr/platform/linux/UnixSocketBridge.java
  server/src/main/java/dev/slimevr/platform/windows/WindowsNamedPipeBridge.java
  server/src/main/java/dev/slimevr/vr/processor/skeleton/SkeletonConfig.java
  server/src/main/java/dev/slimevr/vr/trackers/udp/TrackersUDPServer.java
  server/src/main/java/dev/slimevr/websocketapi/WebSocketVRBridge.java
  settings.gradle.kts
Labels: Difficulty: Large refactor
