Repository SlimeVR/SlimeVR-Server, pull requests merged in 2023-04, with the labels that each got.

#650 Start including media framework on appimage
  gui/src-tauri/tauri.conf.json
Labels: Type: Bug, Area: GUI, Area: Continuous Integration, OS: Linux

#645 Simplify code and fix Android crash
  server/src/main/java/dev/slimevr/config/serializers/BooleanMapDeserializer.java
  server/src/main/java/dev/slimevr/config/serializers/BridgeConfigMapDeserializer.java
  server/src/main/java/dev/slimevr/config/serializers/FloatMapDeserializer.java
  server/src/main/java/dev/slimevr/config/serializers/MapDeserializer.java
  server/src/main/java/dev/slimevr/config/serializers/TrackerConfigMapDeserializer.java
  server/src/main/java/dev/slimevr/serial/SerialHandler.java
  server/src/main/java/dev/slimevr/tracking/trackers/ComputedTracker.java
  server/src/main/java/dev/slimevr/tracking/trackers/IMUTracker.java
  server/src/main/java/io/eiren/util/logging/LogManager.java
Labels: Type: Bug, Priority: High, OS: Android, Area: Server

#651 Fix default tracker mounting state to be front correctly
  server/src/main/java/dev/slimevr/tracking/trackers/IMUTracker.java
Labels: Type: Bug, Area: Server

#652 Add more style to the GUI with icons
  gui/public/i18n/en/translation.ftl
  gui/public/images/boxslime.png
  gui/public/images/slimetower.png
  gui/src/App.tsx
  gui/src/components/Navbar.tsx
  gui/src/components/commons/BodyPartIcon.tsx
  gui/src/components/commons/Typography.tsx
  gui/src/components/commons/icon/AnkleIcon.tsx
  gui/src/components/commons/icon/ChestIcon.tsx
  gui/src/components/commons/icon/ControllerIcon.tsx
  gui/src/components/commons/icon/FootIcon.tsx
  gui/src/components/commons/icon/HeadIcon.tsx
  gui/src/components/commons/icon/HeadsetIcon.tsx
  gui/src/components/commons/icon/HipIcon.tsx
  gui/src/components/commons/icon/HumanIcon.tsx
  gui/src/components/commons/icon/LowerArmIcon.tsx
  gui/src/components/commons/icon/NeckIcon.tsx
  gui/src/components/commons/icon/PawIcon.tsx
  gui/src/components/commons/icon/RulerIcon.tsx
  gui/src/components/commons/icon/ShoulderIcon.tsx
  gui/src/components/commons/icon/SlimeVRIcon.tsx
  gui/src/components/commons/icon/SparkleIcon.tsx
  gui/src/components/commons/icon/UpperArmIcon.tsx
  gui/src/components/commons/icon/UpperLegIcon.tsx
  gui/src/components/commons/icon/VMCIcon.tsx
  gui/src/components/commons/icon/VRCIcon.tsx
  gui/src/components/commons/icon/WaistIcon.tsx
  gui/src/components/commons/icon/WrenchIcons.tsx
  gui/src/components/onboarding/SkipSetupButton.tsx
  gui/src/components/onboarding/SkipSetupWarningModal.tsx
  gui/src/components/onboarding/pages/Home.tsx
  gui/src/components/onboarding/pages/ResetTutorial.tsx
  gui/src/components/onboarding/pages/body-proportions/ManualProportions.tsx
  gui/src/components/onboarding/pages/body-proportions/ProportionsChoose.tsx
  gui/src/components/onboarding/pages/body-proportions/autobone-steps/PutTrackersOn.tsx
  gui/src/components/onboarding/pages/mounting/ManualMounting.tsx
  gui/src/components/onboarding/pages/mounting/MountingChoose.tsx
  gui/src/components/onboarding/pages/mounting/MountingSelectionMenu.tsx
  gui/src/components/onboarding/pages/mounting/mounting-steps/Done.tsx
  gui/src/components/onboarding/pages/mounting/mounting-steps/PutTrackersOn.tsx
  gui/src/components/onboarding/pages/trackers-assign/TrackerAssignment.tsx
  gui/src/components/tracker/TrackerCard.tsx
  gui/src/components/tracker/TrackerSettings.tsx
  gui/src/components/tracker/TrackersTable.tsx
  gui/src/hooks/body-proportions.ts
  gui/tailwind.config.cjs
Labels: Area: GUI, Type: Enhancement

#661 Fix AutoBone wording (not an AI ;3)
  gui/public/i18n/en/translation.ftl
Labels: Area: Translation

#660 Fix lower arm icon being hidden to the right
  gui/src/components/commons/icon/LowerArmIcon.tsx
Labels: Area: GUI

#664 Repair icons for linux
  .imgbotconfig
  gui/src-tauri/icons/1024x1024.png
  gui/src-tauri/icons/128x128.png
  gui/src-tauri/icons/128x128@2x.png
  gui/src-tauri/icons/32x32.png
  gui/src-tauri/icons/Square107x107Logo.png
  gui/src-tauri/icons/Square142x142Logo.png
  gui/src-tauri/icons/Square150x150Logo.png
  gui/src-tauri/icons/Square284x284Logo.png
  gui/src-tauri/icons/Square30x30Logo.png
  gui/src-tauri/icons/Square310x310Logo.png
  gui/src-tauri/icons/Square44x44Logo.png
  gui/src-tauri/icons/Square71x71Logo.png
  gui/src-tauri/icons/Square89x89Logo.png
  gui/src-tauri/icons/StoreLogo.png
  gui/src-tauri/icons/android/mipmap-hdpi/ic_launcher.png
  gui/src-tauri/icons/android/mipmap-hdpi/ic_launcher_foreground.png
  gui/src-tauri/icons/android/mipmap-hdpi/ic_launcher_round.png
  gui/src-tauri/icons/android/mipmap-mdpi/ic_launcher.png
  gui/src-tauri/icons/android/mipmap-mdpi/ic_launcher_foreground.png
  gui/src-tauri/icons/android/mipmap-mdpi/ic_launcher_round.png
  gui/src-tauri/icons/android/mipmap-xhdpi/ic_launcher.png
  gui/src-tauri/icons/android/mipmap-xhdpi/ic_launcher_foreground.png
  gui/src-tauri/icons/android/mipmap-xhdpi/ic_launcher_round.png
  gui/src-tauri/icons/android/mipmap-xxhdpi/ic_launcher.png
  gui/src-tauri/icons/android/mipmap-xxhdpi/ic_launcher_foreground.png
  gui/src-tauri/icons/android/mipmap-xxhdpi/ic_launcher_round.png
  gui/src-tauri/icons/android/mipmap-xxxhdpi/ic_launcher.png
  gui/src-tauri/icons/android/mipmap-xxxhdpi/ic_launcher_foreground.png
  gui/src-tauri/icons/android/mipmap-xxxhdpi/ic_launcher_round.png
  gui/src-tauri/icons/icon.icns
  gui/src-tauri/icons/icon.png
  gui/src-tauri/icons/ios/AppIcon-20x20@1x.png
  gui/src-tauri/icons/ios/AppIcon-20x20@2x-1.png
  gui/src-tauri/icons/ios/AppIcon-20x20@2x.png
  gui/src-tauri/icons/ios/AppIcon-20x20@3x.png
  gui/src-tauri/icons/ios/AppIcon-29x29@1x.png
  gui/src-tauri/icons/ios/AppIcon-29x29@2x-1.png
  gui/src-tauri/icons/ios/AppIcon-29x29@2x.png
  gui/src-tauri/icons/ios/AppIcon-29x29@3x.png
  gui/src-tauri/icons/ios/AppIcon-40x40@1x.png
  gui/src-tauri/icons/ios/AppIcon-40x40@2x-1.png
  gui/src-tauri/icons/ios/AppIcon-40x40@2x.png
  gui/src-tauri/icons/ios/AppIcon-40x40@3x.png
  gui/src-tauri/icons/ios/AppIcon-512@2x.png
  gui/src-tauri/icons/ios/AppIcon-60x60@2x.png
  gui/src-tauri/icons/ios/AppIcon-60x60@3x.png
  gui/src-tauri/icons/ios/AppIcon-76x76@1x.png
  gui/src-tauri/icons/ios/AppIcon-76x76@2x.png
  gui/src-tauri/icons/ios/AppIcon-83.5x83.5@2x.png
Labels: Type: Bug, Area: GUI, OS: Linux

#663 Theme support
  gui/package.json
  gui/public/i18n/en/translation.ftl
  gui/src/components/commons/BaseModal.tsx
  gui/src/components/commons/Checkbox.tsx
  gui/src/components/commons/Dropdown.tsx
  gui/src/components/commons/Radio.tsx
  gui/src/components/commons/ThemeSelector.tsx
  gui/src/components/commons/icon/CloseIcon.tsx
  gui/src/components/commons/icon/MaximiseIcon.tsx
  gui/src/components/commons/icon/MinimiseIcon.tsx
  gui/src/components/commons/icon/ResetIcon.tsx
  gui/src/components/commons/icon/VRCIcon.tsx
  gui/src/components/settings/pages/GeneralSettings.tsx
  gui/src/hooks/config.ts
  gui/src/index.css
  gui/tailwind.config.cjs
  package-lock.json
Labels: Area: GUI, Type: Enhancement

#630 Change AutoBone's decay function to be more standard
  server/src/main/java/dev/slimevr/autobone/AutoBone.kt
  server/src/main/java/dev/slimevr/config/AutoBoneConfig.kt
Labels: Priority: Low, Area: Autobone, Type: Enhancement, Area: Server

#675 Improve vrchat osctrackers text
  gui/public/i18n/en/translation.ftl
  gui/src/components/settings/SettingsSidebar.tsx
  gui/src/components/settings/pages/VRCOSCSettings.tsx
Labels: Priority: Normal, Area: GUI, Type: Enhancement, Area: Translation
