Repository SlimeVR/SlimeVR-Server, pull requests merged in 2023-02, with the labels that each got.

#536 Make battery percentage persist after tracker disconnect
  gui/src/components/tracker/TrackerBattery.tsx
  gui/src/i18n/config.tsx
Labels: Area: GUI, Type: Enhancement

#535 Configure user for rebase script
  .github/workflows/rebase.yml
Labels: Area: Continuous Integration, Area: Translation

#504 Fix switching between HMD and controller arm tracking
  server/src/main/java/dev/slimevr/tracking/processor/config/SkeletonConfigOffsets.java
  server/src/main/java/dev/slimevr/tracking/processor/skeleton/HumanSkeleton.java
Labels: Type: Bug, Area: Skeletal Model, Type: Enhancement

#546 Llelievr/fix stepper number
  gui/src/components/onboarding/StepperSlider.tsx
Labels: Area: GUI

#551 Save last body proportions page used
  gui/src/components/Navbar.tsx
  gui/src/components/onboarding/pages/body-proportions/AutomaticProportions.tsx
  gui/src/components/onboarding/pages/body-proportions/ManualProportions.tsx
  gui/src/hooks/body-proportions.ts
Labels: Area: GUI

#550 Fix input/checkbox default values
  gui/src/components/commons/Checkbox.tsx
  gui/src/components/commons/Input.tsx
Labels: Area: GUI

#543 Add a way to override current locale
  gui/src/i18n/config.tsx
Labels: Area: GUI, Area: Translation

#559 Add error for faulty Webview installation
  Cargo.lock
  gui/src-tauri/Cargo.toml
  gui/src-tauri/src/main.rs
Labels: Area: GUI

#517 Added package io.github.axisangles.ktmath
  .editorconfig
  server/build.gradle.kts
  server/resources/ThirdPartyNotices.txt
  server/src/main/java/io/github/axisangles/ktmath/EulerAngles.kt
  server/src/main/java/io/github/axisangles/ktmath/LICENSE-APACHE
  server/src/main/java/io/github/axisangles/ktmath/LICENSE-MIT
  server/src/main/java/io/github/axisangles/ktmath/Matrix3.kt
  server/src/main/java/io/github/axisangles/ktmath/Quaternion.kt
  server/src/main/java/io/github/axisangles/ktmath/Vector3.kt
  server/src/test/java/io/github/axisangles/ktmath/QuaternionTest.kt
Labels: Type: Feature Request, Difficulty: Math Heavy, Priority: Low

#534 Remove the mounting reset button on the homepage
  gui/src/components/BVHButton.tsx
  gui/src/components/MainLayout.tsx
Labels: Priority: High, Area: GUI

#560 feat: log file size limiter
  server/src/main/java/io/eiren/util/logging/LogManager.java
Labels: Type: Enhancement

#573 Add macOS builds
  .github/workflows/build-gui.yml
  .github/workflows/gradle.yaml
  Cargo.lock
  gui/src-tauri/Cargo.toml
  gui/src-tauri/src/main.rs
  gui/src-tauri/tauri.conf.json
  gui/src/App.tsx
  gui/src/index.css
Labels: Area: Continuous Integration, OS: macOS

#547 Add warnings to the tracker selection page
  gui/public/i18n/en/translation.ftl
  gui/src/components/TopBar.tsx
  gui/src/components/commons/BodyInteractions.tsx
  gui/src/components/commons/PersonFrontIcon.tsx
  gui/src/components/commons/TipBox.tsx
  gui/src/components/onboarding/BodyAssignment.tsx
  gui/src/components/onboarding/NeckWarningModal.tsx
  gui/src/components/onboarding/pages/trackers-assign/TrackerAssignment.tsx
  gui/src/components/onboarding/pages/trackers-assign/TrackerSelectionMenu.tsx
  gui/src/components/tracker/SingleTrackerBodyAssignmentMenu.tsx
  gui/src/components/tracker/TrackerPartCard.tsx
  gui/src/hooks/choker-warning.ts
Labels: Area: GUI

#571 Fix lang select being too long
  gui/src/components/commons/Dropdown.tsx
  gui/src/components/commons/LangSelector.tsx
  gui/src/components/settings/pages/GeneralSettings.tsx
  gui/src/components/utils/a11y.ts
  gui/src/index.css
Labels: Area: GUI

#567 gui: Fix text wrapping in TrackerTable
  gui/src/components/tracker/TrackerStatus.tsx
  gui/src/components/tracker/TrackerWifi.tsx
  gui/src/components/tracker/TrackersTable.tsx
Labels: Type: Bug, Area: GUI

#568 gui: Fix undefined in temperature column
  gui/src/components/tracker/TrackersTable.tsx
Labels: Type: Bug, Area: GUI

#569 gui: Display raw rotation if no ref/ident-adjusted
  gui/src/components/tracker/TrackersTable.tsx
  gui/src/components/widgets/IMUVisualizerWidget.tsx
  gui/src/hooks/tracker.ts
Labels: Type: Bug, Area: GUI

#575 Fix trackers overflow in dev mode
  gui/src/components/home/Home.tsx
Labels: Area: GUI

#596 Add more tracker info
  gui/public/i18n/en/translation.ftl
  gui/src/components/commons/icon/BatteryIcon.tsx
  gui/src/components/tracker/TrackerBattery.tsx
  gui/src/components/tracker/TrackerSettings.tsx
Labels: Area: GUI

#592 Add linux feeder socket
  server/src/main/java/dev/slimevr/VRServer.java
Labels: Type: Enhancement, OS: Linux, Area: Server

#587 Catch Tauri stuff so web version doesn't suffer
  gui/src/App.tsx
  gui/src/i18n/config.tsx
Labels: Area: GUI

#600 hide overlay when no initial response fronm it
  gui/src/components/widgets/OverlayWidget.tsx
Labels: Area: GUI, Type: Enhancement

#603 Fix hip interpolation
  server/src/main/java/dev/slimevr/tracking/processor/skeleton/HumanSkeleton.java
Labels: Type: Bug, Area: Skeletal Model, Priority: High, Area: Server

#602 Make offset go the right direction
  server/src/main/java/dev/slimevr/config/CurrentVRConfigConverter.java
  server/src/main/java/dev/slimevr/config/VRConfig.java
  server/src/main/java/dev/slimevr/tracking/processor/config/SkeletonConfigManager.java
Labels: Area: Skeletal Model, Area: Server

#601 fix row height
  gui/src/components/tracker/TrackersTable.tsx
Labels: Type: Bug, Area: GUI

#598 Start using localStorage for config
  gui/src/hooks/config.ts
Labels: Area: GUI

#599 Upload artifacts to draft when new tag
  .github/workflows/gradle.yaml
  dev.slimevr.SlimeVR.metainfo.xml
Labels: Area: Continuous Integration, Type: Enhancement

#605 Use CSS selectors instead of an if in react for MainLayout buttons
  gui/src/components/ClearDriftCompensationButton.tsx
  gui/src/components/MainLayout.tsx
  gui/src/components/commons/icon/TrashIcon.tsx
Labels: Priority: Normal, Area: GUI, Type: Enhancement

#604 server: Log resets from all sources
  server/src/main/java/dev/slimevr/Keybinding.java
  server/src/main/java/dev/slimevr/VRServer.java
  server/src/main/java/dev/slimevr/bridge/ProtobufBridge.java
  server/src/main/java/dev/slimevr/protocol/rpc/RPCHandler.java
  server/src/main/java/dev/slimevr/tracking/processor/HumanPoseManager.java
  server/src/main/java/dev/slimevr/tracking/processor/skeleton/HumanSkeleton.java
  server/src/main/java/dev/slimevr/tracking/processor/skeleton/TapDetectionManager.java
  server/src/main/java/dev/slimevr/tracking/trackers/udp/TrackersUDPServer.java
  server/src/main/java/dev/slimevr/websocketapi/WebSocketVRBridge.java
Labels: Type: Enhancement, Area: Server

#581 Convert AutoBone to Kotlin and extend PoseFrame data functionality
  server/src/main/java/dev/slimevr/autobone/AutoBone.java
  server/src/main/java/dev/slimevr/autobone/AutoBone.kt
  server/src/main/java/dev/slimevr/autobone/AutoBoneHandler.java
  server/src/main/java/dev/slimevr/autobone/AutoBoneHandler.kt
  server/src/main/java/dev/slimevr/autobone/AutoBoneListener.java
  server/src/main/java/dev/slimevr/autobone/AutoBoneListener.kt
  server/src/main/java/dev/slimevr/autobone/AutoBoneProcessType.java
  server/src/main/java/dev/slimevr/autobone/AutoBoneProcessType.kt
  server/src/main/java/dev/slimevr/autobone/AutoBoneTrainingStep.java
  server/src/main/java/dev/slimevr/autobone/AutoBoneTrainingStep.kt
  server/src/main/java/dev/slimevr/autobone/StatsCalculator.java
  server/src/main/java/dev/slimevr/autobone/StatsCalculator.kt
  server/src/main/java/dev/slimevr/autobone/errors/AutoBoneException.java
  server/src/main/java/dev/slimevr/autobone/errors/AutoBoneException.kt
  server/src/main/java/dev/slimevr/autobone/errors/BodyProportionError.java
  server/src/main/java/dev/slimevr/autobone/errors/BodyProportionError.kt
  server/src/main/java/dev/slimevr/autobone/errors/FootHeightOffsetError.java
  server/src/main/java/dev/slimevr/autobone/errors/FootHeightOffsetError.kt
  server/src/main/java/dev/slimevr/autobone/errors/HeightError.java
  server/src/main/java/dev/slimevr/autobone/errors/HeightError.kt
  server/src/main/java/dev/slimevr/autobone/errors/IAutoBoneError.java
  server/src/main/java/dev/slimevr/autobone/errors/IAutoBoneError.kt
  server/src/main/java/dev/slimevr/autobone/errors/OffsetSlideError.java
  server/src/main/java/dev/slimevr/autobone/errors/OffsetSlideError.kt
  server/src/main/java/dev/slimevr/autobone/errors/PositionError.java
  server/src/main/java/dev/slimevr/autobone/errors/PositionError.kt
  server/src/main/java/dev/slimevr/autobone/errors/PositionOffsetError.java
  server/src/main/java/dev/slimevr/autobone/errors/PositionOffsetError.kt
  server/src/main/java/dev/slimevr/autobone/errors/SlideError.java
  server/src/main/java/dev/slimevr/autobone/errors/SlideError.kt
  server/src/main/java/dev/slimevr/autobone/errors/proportions/HardProportionLimiter.java
  server/src/main/java/dev/slimevr/autobone/errors/proportions/HardProportionLimiter.kt
  server/src/main/java/dev/slimevr/autobone/errors/proportions/ProportionLimiter.java
  server/src/main/java/dev/slimevr/autobone/errors/proportions/ProportionLimiter.kt
  server/src/main/java/dev/slimevr/autobone/errors/proportions/RangeProportionLimiter.java
  server/src/main/java/dev/slimevr/autobone/errors/proportions/RangeProportionLimiter.kt
  server/src/main/java/dev/slimevr/poserecorder/PoseFrameIO.java
  server/src/main/java/dev/slimevr/poserecorder/PoseFrameTracker.java
  server/src/main/java/dev/slimevr/poserecorder/TrackerFrame.java
  server/src/main/java/dev/slimevr/poserecorder/TrackerFrameData.java
  server/src/main/java/dev/slimevr/poserecorder/TrackerFrameData.kt
  server/src/main/java/dev/slimevr/posestreamer/PoseFrameStreamer.java
  server/src/main/java/dev/slimevr/protocol/rpc/RPCHandler.java
  server/src/main/java/dev/slimevr/tracking/processor/config/SkeletonConfigManager.java
Labels: Difficulty: Large refactor, Area: Autobone, Type: Enhancement, Area: Server

#557 Add prettier to check formatting during CI linting
  gui/.eslintrc.json
  gui/package.json
  gui/src/components/onboarding/pages/ConnectTracker.tsx
  gui/src/components/tracker/TrackersTable.tsx
  gui/src/components/widgets/OverlayWidget.tsx
  package-lock.json
Labels: Area: GUI, Area: Continuous Integration
