Repository SlimeVR/SlimeVR-Server, pull requests merged in 2023-11, with the labels that each got.

#881 Fix 3d preview reset math
  server/core/src/main/java/dev/slimevr/tracking/trackers/TrackerResetsHandler.kt
Labels: Type: Bug, Priority: High, Area: Server

#887 Fix pipe crash when SteamVR fails to boot
  server/desktop/src/main/java/dev/slimevr/desktop/platform/SteamVRBridge.java
  server/desktop/src/main/java/dev/slimevr/desktop/platform/linux/UnixSocketBridge.java
  server/desktop/src/main/java/dev/slimevr/desktop/platform/windows/WindowsNamedPipeBridge.java
Labels: Type: Bug, Priority: Low, Area: Server

#870 Add new message from firmware for finding server
  server/core/src/main/java/dev/slimevr/serial/ProvisioningHandler.java
Labels: Type: Bug, Priority: Normal, Area: Server

#862 Prompt before closing SlimeVR when trackers are still connected
  gui/public/i18n/en/translation.ftl
  gui/src/components/TopBar.tsx
  gui/src/components/TrackersStillOnModal.tsx
  gui/src/components/settings/pages/InterfaceSettings.tsx
  gui/src/hooks/config.ts
Labels: Area: GUI, Type: Enhancement

#858 Update tauri 2
  Cargo.lock
  Cargo.toml
  flake.nix
  gui/package.json
  gui/src-tauri/Cargo.toml
  gui/src-tauri/src/main.rs
  gui/src/components/tracker/TrackerSettings.tsx
  package-lock.json
Labels: Area: GUI, Type: Enhancement

#857 fix nix not using toolchain version
  flake.lock
  flake.nix
Labels: Type: Bug, Area: Continuous Integration, OS: Linux

#889 add android CI
  .github/workflows/gradle.yaml
Labels: Area: Continuous Integration, Type: Enhancement, OS: Android

#817 Skeleton preview
  flake.lock
  flake.nix
  gui/package.json
  gui/public/i18n/en/translation.ftl
  gui/src/components/WidgetsComponent.tsx
  gui/src/components/onboarding/pages/body-proportions/ManualProportions.tsx
  gui/src/components/onboarding/pages/body-proportions/autobone-steps/Done.tsx
  gui/src/components/onboarding/pages/mounting/mounting-steps/Done.tsx
  gui/src/components/tracker/TrackerSettings.tsx
  gui/src/components/widgets/IMUVisualizerWidget.tsx
  gui/src/components/widgets/SkeletonVisualizerWidget.tsx
  gui/src/maths/quaternion.ts
  gui/src/utils/skeletonHelper.ts
  package-lock.json
  rust-toolchain.toml
Labels: Area: GUI, Type: Enhancement

#879 Add errors and disabled state to Input
  gui/src/components/commons/Input.tsx
Labels: Area: GUI, Type: Enhancement

#877 Add more colors to checkbox
  gui/src/components/commons/Checkbox.tsx
Labels: Area: GUI, Type: Enhancement

#890 Fixed appearance on exit warning modal
  gui/public/i18n/en/translation.ftl
  gui/src/components/settings/pages/InterfaceSettings.tsx
Labels: Type: Bug, Area: GUI

#876 Refactor TrashIcon ArrowIcon and LoaderIcon
  gui/src/components/ClearDriftCompensationButton.tsx
  gui/src/components/ClearMountingButton.tsx
  gui/src/components/commons/icon/ArrowIcons.tsx
  gui/src/components/commons/icon/LoaderIcon.tsx
  gui/src/components/commons/icon/TrashIcon.tsx
Labels: Area: GUI, Type: Enhancement

#874 fix resize glitches
  gui/src/components/onboarding/StepperSlider.tsx
  gui/src/hooks/layout.ts
Labels: Type: Bug, Area: GUI

#873 Fix VRMode not going back to home screen when resizing to desktop layout
  gui/src/components/vr-mode/VRModePage.tsx
Labels: Type: Bug, Area: GUI

#872 Make button and typography children optional
  gui/src/components/commons/Button.tsx
  gui/src/components/commons/Typography.tsx
Labels: Area: GUI, Type: Enhancement

#875 Refactor of the dropdown component
  gui/src/components/commons/Dropdown.tsx
  gui/src/components/commons/LangSelector.tsx
  gui/src/components/settings/SettingsLayout.tsx
  gui/src/components/settings/pages/InterfaceSettings.tsx
  gui/src/components/settings/pages/Serial.tsx
Labels: Area: GUI, Type: Enhancement

#809 Kotlin leg tweaks
  server/core/src/main/java/dev/slimevr/tracking/processor/skeleton/HumanSkeleton.kt
  server/core/src/main/java/dev/slimevr/tracking/processor/skeleton/LegTweakBuffer.java
  server/core/src/main/java/dev/slimevr/tracking/processor/skeleton/LegTweaks.java
  server/core/src/main/java/dev/slimevr/tracking/processor/skeleton/LegTweaks.kt
  server/core/src/main/java/dev/slimevr/tracking/processor/skeleton/LegTweaksBuffer.kt
  server/core/src/main/java/dev/slimevr/tracking/processor/skeleton/Localizer.kt
Labels: Difficulty: Large refactor, Area: Skeletal Model, Priority: Normal

#891 add android to release pipeline
  .github/workflows/gradle.yaml
Labels: Area: Continuous Integration, Type: Enhancement, OS: Android

#896 Fix the connected tracker modal not having it's config saved
  gui/src/components/settings/pages/InterfaceSettings.tsx
Labels: Type: Bug, Area: GUI

#852 Try forcing manual mounting on setup
  gui/public/i18n/en/translation.ftl
  gui/src/components/commons/Typography.tsx
  gui/src/components/onboarding/pages/mounting/ManualMounting.tsx
  gui/src/components/onboarding/pages/mounting/MountingChoose.tsx
  gui/src/components/onboarding/pages/mounting/TryManualFirstModal.tsx
  gui/src/hooks/config.ts
Labels: Area: GUI, Type: Enhancement

#883 Don't set all trackers to "ok" on device reconnect
  server/core/src/main/java/dev/slimevr/tracking/trackers/udp/TrackersUDPServer.kt
Labels: Type: Bug, Priority: Normal, Area: Server

#888 Android serial
  server/android/build.gradle.kts
  server/android/src/main/java/dev/slimevr/android/Main.kt
  server/android/src/main/java/dev/slimevr/android/serial/AndroidSerialHandler.kt
Labels: Area: Hardware Protocol, Priority: High, Type: Enhancement, OS: Android, Area: Server

#898 Add default mounting orientation for certain body parts
  server/core/src/main/java/dev/slimevr/tracking/trackers/Tracker.kt
  server/core/src/main/java/dev/slimevr/tracking/trackers/TrackerPosition.kt
  server/core/src/main/java/io/github/axisangles/ktmath/Quaternion.kt
Labels: Type: Enhancement, Area: Server

#846 Separate scale from proportions in AutoBone
  server/core/src/main/java/dev/slimevr/VRServer.kt
  server/core/src/main/java/dev/slimevr/autobone/AutoBone.kt
  server/core/src/main/java/dev/slimevr/autobone/AutoBoneHandler.kt
  server/core/src/main/java/dev/slimevr/autobone/AutoBoneStep.kt
  server/core/src/main/java/dev/slimevr/autobone/errors/BodyProportionError.kt
  server/core/src/main/java/dev/slimevr/autobone/errors/proportions/HardProportionLimiter.kt
  server/core/src/main/java/dev/slimevr/autobone/errors/proportions/ProportionLimiter.kt
  server/core/src/main/java/dev/slimevr/autobone/errors/proportions/RangeProportionLimiter.kt
  server/core/src/main/java/dev/slimevr/config/AutoBoneConfig.kt
  server/core/src/main/java/dev/slimevr/config/CurrentVRConfigConverter.java
  server/core/src/main/java/dev/slimevr/config/VRConfig.java
  server/core/src/main/java/dev/slimevr/poseframeformat/player/PlayerTracker.kt
  server/core/src/main/java/dev/slimevr/poseframeformat/player/TrackerFramesPlayer.kt
  server/core/src/main/java/dev/slimevr/tracking/processor/config/SkeletonConfigManager.java
Labels: Priority: Low, Area: Autobone, Type: Enhancement, Area: Server

#901 better checks for tracker id on tracker error
  gui/src/hooks/status-system.ts
Labels: Type: Bug, Area: GUI
