Repository SlimeVR/SlimeVR-Server, pull requests merged in 2023-03, with the labels that each got.

#613 Fix vrconfig crashing on load
  server/src/main/java/dev/slimevr/config/ConfigManager.java
  server/src/main/java/dev/slimevr/config/CurrentVRConfigConverter.java
Labels: Type: Bug, Area: Server

#615 Add a ratio mode for manual offsets
  Cargo.lock
  flake.lock
  flake.nix
  gui/package.json
  gui/public/i18n/en/translation.ftl
  gui/src-tauri/icons/1024x1024.png
  gui/src-tauri/icons/128x128.png
  gui/src-tauri/icons/128x128@2x.png
  gui/src-tauri/icons/32x32.png
  gui/src-tauri/icons/Square107x107Logo.png
  gui/src-tauri/icons/Square142x142Logo.png
  gui/src-tauri/icons/Square150x150Logo.png
  gui/src-tauri/icons/Square284x284Logo.png
  gui/src-tauri/icons/Square30x30Logo.png
  gui/src-tauri/icons/Square310x310Logo.png
  gui/src-tauri/icons/Square44x44Logo.png
  gui/src-tauri/icons/Square71x71Logo.png
  gui/src-tauri/icons/Square89x89Logo.png
  gui/src-tauri/icons/StoreLogo.png
  gui/src-tauri/icons/icon.icns
  gui/src-tauri/icons/icon.ico
  gui/src-tauri/icons/icon.png
  gui/src-tauri/icons/icon.svg
  gui/src-tauri/src/main.rs
  gui/src-tauri/tauri.conf.json
  gui/src/components/onboarding/pages/body-proportions/BodyProportions.tsx
  gui/src/components/onboarding/pages/body-proportions/ManualProportions.tsx
  gui/src/hooks/manual-proportions.ts
  gui/tailwind.config.cjs
  package-lock.json
Labels: Area: GUI, Type: Enhancement, Area: Translation

#629 server: Implement non-blocking IO for VR bridges
  server/src/main/java/dev/slimevr/VRServer.java
  server/src/main/java/dev/slimevr/bridge/ProtobufBridge.java
  server/src/main/java/dev/slimevr/platform/linux/UnixSocketBridge.java
  server/src/main/java/dev/slimevr/platform/windows/WindowsNamedPipeBridge.java
Labels: Area: Application Protocol, Area: SteamVR Driver, Area: Server

#638 gui: Volume slider for feedback sound
  gui/public/i18n/en/translation.ftl
  gui/src/components/home/ResetButton.tsx
  gui/src/components/settings/pages/GeneralSettings.tsx
  gui/src/hooks/app.ts
  gui/src/hooks/config.ts
  gui/src/sounds/sounds.tsx
Labels: Priority: High, Area: GUI

#635 Fix skeleton config loading
  server/src/main/java/dev/slimevr/autobone/AutoBone.kt
  server/src/main/java/dev/slimevr/posestreamer/PoseFrameStreamer.java
  server/src/main/java/dev/slimevr/tracking/processor/HumanPoseManager.java
  server/src/main/java/dev/slimevr/tracking/processor/config/SkeletonConfigManager.java
Labels: Type: Bug, Priority: Normal, Area: Autobone, Area: Server

#640 Separate MacOS artifact and label Windows artifact
  .github/workflows/build-gui.yml
Labels: Type: Bug, Area: GUI, Area: Continuous Integration, OS: Linux, OS: macOS

#636 Update AutoBone steps on the GUI to match the docs
  gui/public/i18n/en/translation.ftl
  gui/src/components/onboarding/pages/body-proportions/AutomaticProportions.tsx
  gui/src/components/onboarding/pages/body-proportions/autobone-steps/Recording.tsx
  gui/src/components/onboarding/pages/body-proportions/autobone-steps/Requirements.tsx
  gui/src/components/onboarding/pages/body-proportions/autobone-steps/StartRecording.tsx
Labels: Priority: High, Area: Autobone, Area: GUI, Type: Enhancement, Area: Translation

#643 Increase maximum smoothing
  server/src/main/java/dev/slimevr/filtering/QuaternionMovingAverage.java
Labels: Type: Enhancement, Area: Server

#590 WiFi provisioning and serial fixes
  gui/src/components/settings/pages/Serial.tsx
  server/src/main/java/dev/slimevr/serial/ProvisioningHandler.java
  server/src/main/java/dev/slimevr/serial/SerialHandler.java
Labels: Area: Hardware Protocol, Type: Enhancement, Area: Server

#641 Mounting reset improvements
  server/src/main/java/dev/slimevr/poserecorder/PoseFrameTracker.java
  server/src/main/java/dev/slimevr/poserecorder/TrackerFrame.java
  server/src/main/java/dev/slimevr/tracking/processor/skeleton/HumanSkeleton.java
  server/src/main/java/dev/slimevr/tracking/trackers/ComputedTracker.java
  server/src/main/java/dev/slimevr/tracking/trackers/IMUTracker.java
  server/src/main/java/dev/slimevr/tracking/trackers/Tracker.java
Labels: Priority: Normal, Type: Enhancement, Area: Server

#639 Improve setup wizard
  gui/public/i18n/en/translation.ftl
  gui/public/models/tracker.gltf
  gui/src/components/commons/BodyDisplay.tsx
  gui/src/components/commons/BodyInteractions.tsx
  gui/src/components/commons/Button.tsx
  gui/src/components/commons/ProgressBar.tsx
  gui/src/components/commons/icon/EscapeIcon.tsx
  gui/src/components/commons/icon/LoaderIcon.tsx
  gui/src/components/home/ResetButton.tsx
  gui/src/components/onboarding/SkipSetupButton.tsx
  gui/src/components/onboarding/SkipSetupWarningModal.tsx
  gui/src/components/onboarding/StepperSlider.tsx
  gui/src/components/onboarding/pages/ConnectTracker.tsx
  gui/src/components/onboarding/pages/Home.tsx
  gui/src/components/onboarding/pages/ResetTutorial.tsx
  gui/src/components/onboarding/pages/WifiCreds.tsx
  gui/src/components/onboarding/pages/body-proportions/AutomaticProportions.tsx
  gui/src/components/onboarding/pages/body-proportions/ManualProportions.tsx
  gui/src/components/onboarding/pages/body-proportions/autobone-steps/Done.tsx
  gui/src/components/onboarding/pages/body-proportions/autobone-steps/PutTrackersOn.tsx
  gui/src/components/onboarding/pages/body-proportions/autobone-steps/Recording.tsx
  gui/src/components/onboarding/pages/mounting/AutomaticMounting.tsx
  gui/src/components/onboarding/pages/mounting/ManualMounting.tsx
  gui/src/components/onboarding/pages/mounting/mounting-steps/Done.tsx
  gui/src/components/onboarding/pages/mounting/mounting-steps/PutTrackersOn.tsx
  gui/src/components/onboarding/pages/trackers-assign/TrackerAssignment.tsx
  gui/src/components/widgets/IMUVisualizerWidget.tsx
  gui/src/components/widgets/SkeletonVisualizerWidget.tsx
  gui/src/hooks/app.ts
  gui/src/hooks/datafeed-config.ts
Labels: Type: Bug, Priority: Normal, Area: Autobone, Area: GUI, Type: Enhancement, Area: Translation

#644 Revert VRServer tick interval
  server/src/main/java/dev/slimevr/VRServer.java
  server/src/main/java/dev/slimevr/bridge/ProtobufBridge.java
  server/src/main/java/dev/slimevr/platform/linux/UnixSocketBridge.java
  server/src/main/java/dev/slimevr/platform/windows/WindowsNamedPipeBridge.java
Labels: Type: Bug, Priority: High, Area: SteamVR Driver, Area: Server
