Repository SlimeVR/SlimeVR-Server, pull requests merged in 2023-08, with the labels that each got.

#794 Implement packet bundling
  server/core/src/main/java/dev/slimevr/tracking/trackers/udp/FeatureFlags.kt
  server/core/src/main/java/dev/slimevr/tracking/trackers/udp/TrackersUDPServer.kt
  server/core/src/main/java/dev/slimevr/tracking/trackers/udp/UDPDevice.kt
  server/core/src/main/java/dev/slimevr/tracking/trackers/udp/UDPPacket.kt
  server/core/src/main/java/dev/slimevr/tracking/trackers/udp/UDPProtocolParser.kt
Labels: Area: Hardware Protocol, Type: Enhancement, Area: Server

#803 things I got pinged about to fix
  gui/public/i18n/en/translation.ftl
  gui/src/components/commons/NumberSelector.tsx
  gui/src/components/onboarding/pages/body-proportions/autobone-steps/СheckHeight.tsx
  gui/src/components/settings/pages/Serial.tsx
  gui/src/components/tracker/TrackerBattery.tsx
Labels: Type: Bug, Area: GUI

#665 Update to tauri 2
  .github/workflows/build-gui.yml
  .github/workflows/gradle.yaml
  Cargo.lock
  flake.lock
  flake.nix
  gui/package.json
  gui/src-tauri/Cargo.toml
  gui/src-tauri/src/main.rs
  gui/src-tauri/src/util.rs
  gui/src-tauri/tauri.conf.json
  gui/src/App.tsx
  gui/src/components/TopBar.tsx
  gui/src/components/VersionUpdateModal.tsx
  gui/src/components/commons/A.tsx
  gui/src/components/onboarding/pages/body-proportions/ProportionsChoose.tsx
  gui/src/hooks/config.ts
  gui/src/i18n/config.tsx
  gui/src/index.css
  package-lock.json
  rust-toolchain.toml
Labels: Area: GUI, Type: Enhancement

#801 Improve HMD handling
  server/core/src/main/java/dev/slimevr/VRServer.kt
  server/core/src/main/java/dev/slimevr/tracking/trackers/TrackerUtils.kt
  server/core/src/main/java/dev/slimevr/websocketapi/WebSocketVRBridge.java
  server/desktop/src/main/java/dev/slimevr/desktop/Main.kt
  server/desktop/src/main/java/dev/slimevr/desktop/platform/ProtobufBridge.java
  server/desktop/src/main/java/dev/slimevr/desktop/platform/SteamVRBridge.java
  server/desktop/src/main/java/dev/slimevr/desktop/platform/linux/UnixSocketBridge.java
  server/desktop/src/main/java/dev/slimevr/desktop/platform/windows/WindowsNamedPipeBridge.java
Labels: Priority: Normal, Type: Enhancement, Area: SteamVR Driver, Area: Server

#790 Improve debugging experience
  server/core/src/main/java/io/eiren/util/logging/LogManager.java
  server/desktop/.gitignore
  server/desktop/config/README.md
Labels: Type: Enhancement, Area: Server

#813 Fix Tauri 2 update
  Cargo.lock
  gui/src-tauri/Cargo.toml
  gui/src-tauri/src/main.rs
  gui/src-tauri/tauri.conf.json
  gui/src/components/TopBar.tsx
  package-lock.json
  rust-toolchain.toml
Labels: Type: Bug, Area: GUI

#820 Fix nix with latest rust update
  flake.lock
  flake.nix
Labels: Type: Bug, Area: Continuous Integration, OS: Linux

#827 Fix tauri 2 again
  Cargo.lock
  gui/package.json
  gui/src-tauri/Cargo.toml
  gui/src-tauri/src/main.rs
  package-lock.json
Labels: Type: Bug, Area: GUI

#823 Add FT232 Serial Chipset to the known list
  server/core/src/main/java/dev/slimevr/serial/SerialHandler.kt
Labels: Area: Hardware Protocol, Priority: Normal, Type: Enhancement

#822 Small fixes pt. 3
  gui/public/i18n/en/translation.ftl
  gui/src-tauri/src/main.rs
  gui/src/components/ClearMountingButton.tsx
  gui/src/components/onboarding/pages/assignment-preparation/AssignmentTutorial.tsx
  package-lock.json
Labels: Area: GUI, Type: Enhancement

#815 Small GUI fixes, pt. 2
  .husky/pre-commit
  .lintstagedrc.mjs
  gradlew.bat
  gui/.gitignore
  gui/.lintstagedrc.mjs
  gui/package.json
  gui/src/App.test.tsx
  gui/src/components/commons/NumberSelector.tsx
  gui/src/components/onboarding/pages/trackers-assign/TrackerAssignment.tsx
  gui/src/components/settings/pages/GeneralSettings.tsx
  gui/src/hooks/config.ts
  gui/src/hooks/countdown.ts
  gui/src/hooks/status-system.ts
  gui/src/reportWebVitals.ts
  package-lock.json
  package.json
Labels: Type: Bug, Area: GUI, Type: Enhancement

#831 tauri should work now
  Cargo.lock
  Cargo.toml
  gui/package.json
  gui/src-tauri/Cargo.toml
  gui/src-tauri/src/main.rs
  package-lock.json
Labels: Type: Bug, Priority: High, Area: GUI

#834 Update metainfo
  Cargo.lock
  Cargo.toml
  dev.slimevr.SlimeVR.metainfo.xml
  gui/src-tauri/Cargo.toml
Labels: Type: Enhancement, OS: Linux

#783 Convert HumanSkeleton to Kotlin
  server/core/src/main/java/dev/slimevr/posestreamer/BVHFileStream.java
  server/core/src/main/java/dev/slimevr/tracking/processor/HumanPoseManager.java
  server/core/src/main/java/dev/slimevr/tracking/processor/skeleton/HumanSkeleton.java
  server/core/src/main/java/dev/slimevr/tracking/processor/skeleton/HumanSkeleton.kt
  server/core/src/main/java/dev/slimevr/tracking/processor/skeleton/LegTweaks.java
  server/core/src/main/java/dev/slimevr/tracking/processor/skeleton/Localizer.kt
  server/core/src/main/java/dev/slimevr/tracking/processor/skeleton/TapDetection.java
  server/core/src/main/java/dev/slimevr/tracking/processor/skeleton/TapDetectionManager.java
  server/core/src/main/java/dev/slimevr/tracking/processor/skeleton/ViveEmulation.java
Labels: Area: Skeletal Model, Priority: High, Area: Server
