Repository SlimeVR/SlimeVR-Server, pull requests merged in 2023-07, with the labels that each got.

#744 Fix Dropdown not opening
  gui/src/components/commons/Dropdown.tsx
  gui/src/components/commons/LangSelector.tsx
  gui/src/components/settings/SettingsLayout.tsx
  gui/src/components/settings/SettingsPageLayout.tsx
  gui/src/components/settings/pages/Serial.tsx
  gui/tailwind.config.ts
Labels: Type: Bug, Area: GUI

#718 mobile body proportions
  gui/src/components/commons/icon/ArrowIcons.tsx
  gui/src/components/onboarding/pages/body-proportions/BodyProportions.tsx
  gui/src/components/onboarding/pages/body-proportions/ManualProportions.tsx
  gui/src/hooks/manual-proportions.ts
  gui/src/index.css
Labels: Area: GUI, Type: Enhancement

#737 Acceleration alignment fix
  server/src/main/java/dev/slimevr/poseframeformat/player/PlayerTracker.kt
  server/src/main/java/dev/slimevr/poseframeformat/trackerdata/TrackerFrame.kt
  server/src/main/java/dev/slimevr/tracking/trackers/Tracker.kt
  server/src/main/java/dev/slimevr/tracking/trackers/TrackerResetsHandler.kt
  server/src/main/java/dev/slimevr/tracking/trackers/udp/TrackersUDPServer.kt
Labels: Type: Bug, Area: Server

#754 Improve Autobone upperChest and fix VMC upperChest
  server/src/main/java/dev/slimevr/autobone/AutoBone.kt
  server/src/main/java/dev/slimevr/autobone/errors/BodyProportionError.kt
  server/src/main/java/dev/slimevr/osc/UnityArmature.kt
  server/src/main/java/dev/slimevr/tracking/processor/BoneType.java
Labels: Area: Autobone, Area: Server

#765 Fix status not working
  server/src/main/java/dev/slimevr/tracking/trackers/Tracker.kt
Labels: Type: Bug, Priority: High, Area: Server

#759 Don't log non-imu trackers' drift
  server/src/main/java/dev/slimevr/tracking/processor/HumanPoseManager.java
Labels: Type: Bug, Area: Server

#751 Prioritize non-computed head tracker
  server/core/src/main/java/dev/slimevr/platform/SteamVRBridge.java
  server/core/src/main/java/dev/slimevr/protocol/rpc/RPCHandler.java
  server/core/src/main/java/dev/slimevr/tracking/processor/skeleton/HumanSkeleton.java
  server/core/src/main/java/dev/slimevr/tracking/trackers/TrackerUtils.kt
Labels: Type: Enhancement, Area: Server

#761 Don't create new skeletons
  server/core/src/main/java/dev/slimevr/tracking/processor/HumanPoseManager.java
  server/core/src/main/java/dev/slimevr/tracking/processor/skeleton/HumanSkeleton.java
Labels: Area: Skeletal Model, Type: Enhancement, Area: Server

#763 fix: filter non imu in connected tracker
  gui/src/components/onboarding/pages/ConnectTracker.tsx
  gui/src/components/onboarding/pages/WifiCreds.tsx
  gui/src/components/onboarding/pages/assignment-preparation/AssignmentTutorial.tsx
  gui/src/hooks/tracker.ts
Labels: Type: Bug, Area: GUI

#752 Add rust file logging
  Cargo.lock
  gui/src-tauri/Cargo.toml
  gui/src-tauri/src/main.rs
  gui/src-tauri/src/util.rs
  gui/src/App.tsx
  gui/src/components/VersionUpdateModal.tsx
  gui/src/components/commons/Dropdown.tsx
  gui/src/components/onboarding/pages/ResetTutorial.tsx
  gui/src/components/onboarding/pages/body-proportions/ProportionsChoose.tsx
  gui/src/components/settings/pages/VMCSettings.tsx
  gui/src/components/tracker/TrackersTable.tsx
  gui/src/components/widgets/IMUVisualizerWidget.tsx
  gui/src/hooks/app.ts
  gui/src/hooks/autobone.ts
  gui/src/hooks/config.ts
  gui/src/hooks/websocket-api.ts
  gui/src/i18n/config.tsx
  gui/src/utils/a11y.ts
  gui/src/utils/formatting.ts
  gui/src/utils/logging.ts
Labels: Area: GUI, Type: Enhancement

#755 Move SteamVR code to desktop subproject
  server/core/build.gradle.kts
  server/core/src/main/java/dev/slimevr/VRServer.kt
  server/core/src/main/java/dev/slimevr/bridge/Bridge.kt
  server/core/src/main/java/dev/slimevr/bridge/OpenVRNativeBridge.java
  server/core/src/main/java/dev/slimevr/osc/VRCOSCHandler.java
  server/core/src/main/java/dev/slimevr/protocol/rpc/settings/RPCSettingsBuilder.java
  server/core/src/main/java/dev/slimevr/protocol/rpc/settings/RPCSettingsHandler.java
  server/core/src/main/java/dev/slimevr/websocketapi/WebSocketVRBridge.java
  server/desktop/build.gradle.kts
  server/desktop/src/main/java/dev/slimevr/desktop/Main.kt
  server/desktop/src/main/java/dev/slimevr/desktop/platform/ProtobufBridge.java
  server/desktop/src/main/java/dev/slimevr/desktop/platform/ProtobufMessages.java
  server/desktop/src/main/java/dev/slimevr/desktop/platform/SteamVRBridge.java
  server/desktop/src/main/java/dev/slimevr/desktop/platform/linux/UnixSocketBridge.java
  server/desktop/src/main/java/dev/slimevr/desktop/platform/windows/PipeState.java
  server/desktop/src/main/java/dev/slimevr/desktop/platform/windows/WindowsNamedPipeBridge.java
  server/desktop/src/main/java/dev/slimevr/desktop/platform/windows/WindowsNamedPipeVRBridge.java
  server/desktop/src/main/java/dev/slimevr/desktop/platform/windows/WindowsPipe.java
Labels: Type: Enhancement, Area: SteamVR Driver, Area: Server

#785 Fix Scroll on mobile
  gui/src/components/settings/SettingsPageLayout.tsx
Labels: Type: Bug, Area: GUI

#782 Add me to GUI codeowners
  .github/CODEOWNERS
Labels: Priority: High, Area: GUI, Type: Enhancement

#762 Update appstream metadata
  dev.slimevr.SlimeVR.metainfo.xml
Labels: Area: Documentation, Type: Enhancement

#770 Save config and logs on appdata folder
  server/core/src/main/java/dev/slimevr/Keybinding.java
  server/core/src/main/java/dev/slimevr/VRServer.kt
  server/core/src/main/java/dev/slimevr/autobone/AutoBone.kt
  server/core/src/main/java/io/eiren/util/OperatingSystem.java
  server/core/src/main/java/io/eiren/util/OperatingSystem.kt
  server/desktop/.gitignore
  server/desktop/src/main/java/dev/slimevr/desktop/Main.kt
Labels: Type: Enhancement, Area: Server

#777 Fix CI release bundling
  .github/workflows/gradle.yaml
  gui/src-tauri/tauri.conf.json
Labels: Type: Bug, Area: Continuous Integration

#781 Refresh headShift when setting trackers
  server/core/src/main/java/dev/slimevr/tracking/processor/skeleton/HumanSkeleton.java
Labels: Type: Bug, Area: Skeletal Model, Priority: Normal, Area: Server

#775 Make displayName consistent via hash
  server/core/src/main/java/dev/slimevr/tracking/trackers/udp/TrackersUDPServer.kt
Labels: Type: Enhancement, Area: Server

#773 Bundle & Receive OSCTrackers
  server/core/src/main/java/dev/slimevr/VRServer.kt
  server/core/src/main/java/dev/slimevr/filtering/QuaternionMovingAverage.kt
  server/core/src/main/java/dev/slimevr/osc/VRCOSCHandler.java
  server/core/src/main/java/dev/slimevr/osc/VRCOSCHandler.kt
Labels: Type: Enhancement, Area: Server

#750 Drift compensation tracker and HMD requirement
  server/core/src/main/java/dev/slimevr/VRServer.kt
  server/core/src/main/java/dev/slimevr/tracking/processor/HumanPoseManager.java
  server/core/src/main/java/dev/slimevr/tracking/trackers/Tracker.kt
  server/core/src/main/java/dev/slimevr/tracking/trackers/TrackerResetsHandler.kt
  server/core/src/main/java/dev/slimevr/tracking/trackers/TrackerUtils.kt
Labels: Type: Enhancement, Area: Server

#779 Clarify "extended" skeleton toggles in GUI
  gui/public/i18n/en/translation.ftl
  gui/src/components/settings/pages/GeneralSettings.tsx
Labels: Area: GUI, Type: Enhancement, Area: Translation

#792 Autobone config migration is in wrong version
  server/core/src/main/java/dev/slimevr/config/CurrentVRConfigConverter.java
  server/core/src/main/java/dev/slimevr/config/VRConfig.java
Labels: Type: Bug, Area: Autobone, Area: Server

#791 Fix comment on the wrong line
  server/core/src/main/java/dev/slimevr/autobone/AutoBone.kt
Labels: Type: Bug, Area: Autobone, Area: Server

#793 Fix toe snap
  server/core/src/main/java/dev/slimevr/tracking/processor/skeleton/LegTweaks.java
Labels: Type: Bug, Area: Skeletal Model

#784 Make manual proportion list grow if there is space
  gui/src/components/MainLayout.tsx
  gui/src/components/onboarding/pages/body-proportions/BodyProportions.tsx
  gui/src/hooks/timeout.ts
  gui/tailwind.config.ts
Labels: Area: GUI, Type: Enhancement

#743 Improve defaults SkeletonValues & add ratios in gui
  gui/public/i18n/en/translation.ftl
  gui/src/components/settings/pages/GeneralSettings.tsx
  server/core/src/main/java/dev/slimevr/protocol/rpc/settings/RPCSettingsHandler.java
  server/core/src/main/java/dev/slimevr/tracking/processor/config/SkeletonConfigValues.java
Labels: Area: GUI, Type: Enhancement, Area: Translation, Area: Server

#719 Send any computed tracker via VMC for props
  server/core/src/main/java/dev/slimevr/VRServer.kt
  server/core/src/main/java/dev/slimevr/osc/VMCHandler.java
  server/core/src/main/java/dev/slimevr/tracking/processor/HumanPoseManager.java
  server/desktop/src/main/java/dev/slimevr/desktop/platform/ProtobufBridge.java
  server/desktop/src/main/java/dev/slimevr/desktop/platform/SteamVRBridge.java
Labels: Type: Enhancement, Area: Server

#798 Quick fix for BVH issues
  server/core/src/main/java/dev/slimevr/posestreamer/BVHFileStream.java
Labels: Type: Bug, Priority: High, Area: Server

#756 Move serial communication to desktop subproject
  package-lock.json
  server/core/build.gradle.kts
  server/core/src/main/java/dev/slimevr/VRServer.kt
  server/core/src/main/java/dev/slimevr/protocol/rpc/serial/RPCSerialHandler.java
  server/core/src/main/java/dev/slimevr/serial/ProvisioningHandler.java
  server/core/src/main/java/dev/slimevr/serial/SerialHandler.java
  server/core/src/main/java/dev/slimevr/serial/SerialHandler.kt
  server/core/src/main/java/dev/slimevr/serial/SerialListener.java
  server/core/src/main/java/dev/slimevr/serial/SerialListener.kt
  server/desktop/build.gradle.kts
  server/desktop/src/main/java/dev/slimevr/desktop/Main.kt
  server/desktop/src/main/java/dev/slimevr/desktop/serial/DesktopSerialHandler.kt
Labels: Type: Enhancement, Area: Server

#795 Fix tap to assign and other bugs
  server/core/src/main/java/dev/slimevr/tracking/processor/skeleton/HumanSkeleton.java
  server/core/src/main/java/dev/slimevr/tracking/processor/skeleton/LegTweaks.java
  server/core/src/main/java/dev/slimevr/tracking/processor/skeleton/Localizer.kt
  server/core/src/main/java/dev/slimevr/tracking/processor/skeleton/TapDetection.java
  server/core/src/main/java/dev/slimevr/tracking/processor/skeleton/TapDetectionManager.java
Labels: Type: Bug, Area: Server
