Repository SlimeVR/SlimeVR-Server, pull requests merged in 2023-12, with the labels that each got.

#907 Add reboot retries when trying to connect to WiFi
  server/core/src/main/java/dev/slimevr/serial/ProvisioningHandler.java
Labels: Type: Bug, Area: Server

#910 Clarify headset wording and update AutoBone requirements
  gui/public/i18n/en/translation.ftl
  gui/src/components/onboarding/pages/body-proportions/ProportionsChoose.tsx
  gui/src/components/onboarding/pages/body-proportions/autobone-steps/Requirements.tsx
Labels: Area: AutoBone, Area: GUI, Type: Enhancement, Area: Translation

#911 decrease amount of retries to 1 in serial provisioning
  server/core/src/main/java/dev/slimevr/serial/ProvisioningHandler.java
Labels: Area: Hardware Protocol, Type: Enhancement, Area: Server
