Repository SlimeVR/SlimeVR-Server, pull requests merged in 2023-09, with the labels that each got.

#811 add import proportions button
  gui/package.json
  gui/public/i18n/en/translation.ftl
  gui/src/components/onboarding/pages/body-proportions/ProportionsChoose.tsx
  package-lock.json
Labels: Area: GUI, Type: Enhancement

#832 Make UDPPackets Floats safe
  server/core/src/main/java/dev/slimevr/tracking/trackers/udp/UDPPacket.kt
Labels: Type: Bug, Area: Hardware Protocol, Priority: High, Area: Server

#836 Fix config shenanigans
  gui/.lintstagedrc.mjs
  gui/src/App.tsx
  gui/src/AppLayout.tsx
  gui/src/hooks/app.ts
  gui/src/hooks/config.ts
Labels: Type: Bug, Area: GUI

#835 Fix icons and add more & fill in web manifest
  gui/public/favicon.ico
  gui/public/logo.svg
  gui/public/logo192.png
  gui/public/logo512.png
  gui/public/manifest.json
Labels: Priority: Low, Area: GUI, Type: Enhancement

#753 Track connection by SocketAddress instead of IP address.
  server/core/src/main/java/dev/slimevr/tracking/trackers/udp/TrackersUDPServer.kt
Labels: Area: Hardware Protocol, Type: Enhancement, Area: Server

#830 use devenv for nix develop
  .envrc
  .gitignore
  flake.lock
  flake.nix
Labels: Area: Continuous Integration, Type: Enhancement, OS: Linux

#841 Fix hash diplayName to not change
  server/core/src/main/java/dev/slimevr/tracking/trackers/udp/TrackersUDPServer.kt
Labels: Type: Bug, Area: Server

#843 Fix foot tracker orientation
  server/core/src/main/java/dev/slimevr/tracking/processor/skeleton/HumanSkeleton.kt
Labels: Type: Bug, Priority: High, Area: Server

#842 Android ByteBuffer and Color fixes
  server/android/src/main/java/java/awt/Color.java
  server/core/src/main/java/dev/slimevr/osc/OSCRouter.java
  server/core/src/main/java/dev/slimevr/osc/OSCStatic.java
  server/core/src/main/java/dev/slimevr/osc/VMCHandler.java
  server/core/src/main/java/dev/slimevr/osc/VRCOSCHandler.kt
  server/core/src/main/java/dev/slimevr/tracking/trackers/udp/UDPProtocolParser.kt
Labels: Type: Bug, Priority: High, OS: Android, Area: Server

#847 Filter out !isSiteLocalAddress from addresses
  server/core/src/main/java/dev/slimevr/protocol/rpc/setup/RPCUtil.kt
  server/core/src/main/java/dev/slimevr/tracking/trackers/udp/TrackersUDPServer.kt
Labels: Type: Bug, Priority: High, Area: Server

#853 Fix NPE when tracking arms from controllers
  server/core/src/main/java/dev/slimevr/tracking/processor/skeleton/HumanSkeleton.kt
Labels: Type: Bug, Priority: High, Area: Server

#851 Track connection by socket address if HWID is unavailable
  server/core/src/main/java/dev/slimevr/tracking/trackers/udp/TrackersUDPServer.kt
Labels: Type: Bug, Area: Hardware Protocol, Priority: Normal, Area: Server

#854 Add preload component
  gui/package.json
  gui/src/App.tsx
  gui/src/components/Preload.tsx
  gui/src/sounds/sounds.tsx
  package-lock.json
Labels: Area: GUI, Type: Enhancement

#859 Only get first tag on build
  gui/vite.config.ts
  server/desktop/build.gradle.kts
Labels: Type: Bug, Area: Continuous Integration, Area: Server

#860 Force git tag fetching
  .github/workflows/gradle.yaml
Labels: Type: Bug, Area: Continuous Integration

#861 Forgot the other task for git force
  .github/workflows/gradle.yaml
Labels: Type: Bug, Area: Continuous Integration
