Repository SlimeVR/SlimeVR-Server, pull requests merged in 2023-01, with the labels that each got.

#441 Rename GUI title to "SlimeVR" instead of "Slimevr UI"
  gui/src-tauri/tauri.conf.json
Labels: Priority: Normal, Area: GUI, Type: Enhancement

#437 Make spotless actually do stuff on kotlin
  server/build.gradle.kts
  server/src/main/java/dev/slimevr/Main.kt
Labels: Type: Enhancement

#439 Fix bug on window state save
  Cargo.lock
  gui/src-tauri/Cargo.toml
  gui/src/i18n/config.ts
Labels: Area: GUI

#434 Remove java WindowConfig
  server/src/main/java/dev/slimevr/config/VRConfig.java
  server/src/main/java/dev/slimevr/config/WindowConfig.java
Labels: Type: Bug, Priority: Low

#412 make macos gui work
  Cargo.lock
  gui/package.json
  gui/src-tauri/Cargo.toml
  gui/src-tauri/src/main.rs
  gui/src-tauri/tauri.conf.json
  package-lock.json
  package.json
Labels: Area: GUI, OS: macOS

#447 Fix some fluent stuff
  gui/scripts/check-missing.js
  gui/src/i18n/config.tsx
Labels: Area: Translation

#448 Update Vietnamese
  gui/public/i18n/vi/translation.ftl
Labels: Area: Translation

#432 Improve tap detection
  gui/src/components/settings/pages/GeneralSettings.tsx
  server/src/main/java/dev/slimevr/config/TapDetectionConfig.java
  server/src/main/java/dev/slimevr/vr/processor/skeleton/TapDetection.java
  server/src/main/java/dev/slimevr/vr/processor/skeleton/TapDetectionManager.java
Labels: Priority: Normal, Type: Enhancement

#438 try updating vite to latest
  gui/package.json
  gui/vite.config.ts
  package-lock.json
Labels: Area: GUI

#428 Finished relicense
  CONTRIBUTING.md
  LICENSE-APACHE
  LICENSE-MIT
  README.md
Labels: Priority: Normal

#476 Improve config reliability
  server/src/main/java/dev/slimevr/config/ConfigManager.java
  server/src/main/java/dev/slimevr/config/VRConfig.java
  server/src/main/java/dev/slimevr/platform/SteamVRBridge.java
Labels: Priority: Normal, Type: Enhancement

#467 gui: Fix UI wrapping in settings
  gui/src/components/settings/pages/GeneralSettings.tsx
  gui/src/components/tracker/TrackerSettings.tsx
Labels: Type: Bug, Area: GUI

#464 Support arbitrary sensor id's for devices
  server/src/main/java/dev/slimevr/platform/SteamVRBridge.java
  server/src/main/java/dev/slimevr/protocol/datafeed/DataFeedBuilder.java
  server/src/main/java/dev/slimevr/vr/Device.java
  server/src/main/java/dev/slimevr/vr/trackers/udp/TrackersUDPServer.java
  server/src/main/java/dev/slimevr/vr/trackers/udp/UDPDevice.java
Labels: Type: Enhancement

#465 Dutch translation
  gui/public/i18n/nl/translation.ftl
  gui/src/i18n/config.tsx
Labels: Area: Translation

#468 Rename "wifi" to "Wi-Fi" and "SSID" to "Wi-Fi" name
  gui/public/i18n/en-x-owo/translation.ftl
  gui/public/i18n/en/translation.ftl
  gui/public/i18n/es-419/translation.ftl
  gui/public/i18n/et/translation.ftl
  gui/public/i18n/fr/translation.ftl
  gui/public/i18n/it/translation.ftl
  gui/public/i18n/ja/translation.ftl
  gui/public/i18n/ko/translation.ftl
  gui/public/i18n/pl/translation.ftl
  gui/public/i18n/pt-BR/translation.ftl
  gui/public/i18n/vi/translation.ftl
  gui/public/i18n/zh-Hans/translation.ftl
Labels: Type: Enhancement, Area: Translation

#474 Use `cache-apt-pkgs-action` for apt instead
  .github/workflows/build-gui.yml
  .github/workflows/gradle.yaml
Labels: Type: Bug, Priority: High, Area: Continuous Integration

#471 Fix drift compensation affecting reset and fast resets
  server/src/main/java/com/jme3/math/Quaternion.java
  server/src/main/java/dev/slimevr/vr/trackers/IMUTracker.java
Labels: Type: Bug

#461 Linux: fix for UnixSocketBridge missing messages and getting the buffer full
  server/src/main/java/dev/slimevr/platform/linux/UnixSocketBridge.java
Labels: Type: Bug, OS: Linux, Area: SteamVR Driver

#469 Add .editorconfig
  .editorconfig
  .vscode/extensions.json
  server/build.gradle.kts
Labels: Type: Feature Request

#486 Dutch translation fixes
  gui/public/i18n/nl/translation.ftl
Labels: Area: Translation

#482 Fix some translation comments and language order
  gui/public/i18n/en-x-owo/translation.ftl
  gui/public/i18n/en/translation.ftl
  gui/public/i18n/es-419/translation.ftl
  gui/public/i18n/et/translation.ftl
  gui/public/i18n/fr/translation.ftl
  gui/public/i18n/it/translation.ftl
  gui/public/i18n/ja/translation.ftl
  gui/public/i18n/ko/translation.ftl
  gui/public/i18n/nl/translation.ftl
  gui/public/i18n/pl/translation.ftl
  gui/public/i18n/pt-BR/translation.ftl
  gui/public/i18n/vi/translation.ftl
  gui/public/i18n/zh-Hans/translation.ftl
  gui/src/i18n/config.tsx
Labels: Priority: Low, Type: Enhancement, Area: Translation

#473 Spanish new lines translated
  gui/public/i18n/es-419/translation.ftl
Labels: Area: Translation

#450 gui: More info in tracker table and IMU visualizer
  gui/package.json
  gui/public/i18n/en-x-owo/translation.ftl
  gui/public/i18n/en/translation.ftl
  gui/public/i18n/es-419/translation.ftl
  gui/public/i18n/fr/translation.ftl
  gui/public/i18n/it/translation.ftl
  gui/public/i18n/ja/translation.ftl
  gui/public/i18n/ko/translation.ftl
  gui/public/i18n/pl/translation.ftl
  gui/public/i18n/pt-BR/translation.ftl
  gui/public/i18n/vi/translation.ftl
  gui/public/i18n/zh-Hans/translation.ftl
  gui/src/components/MainLayout.tsx
  gui/src/components/commons/icon/WarningIcon.tsx
  gui/src/components/onboarding/pages/mounting/ManualMounting.tsx
  gui/src/components/tracker/TrackerBattery.tsx
  gui/src/components/tracker/TrackerCard.tsx
  gui/src/components/tracker/TrackerSettings.tsx
  gui/src/components/tracker/TrackerWifi.tsx
  gui/src/components/tracker/TrackersTable.tsx
  gui/src/components/utils/formatting.ts
  gui/src/components/widgets/DeveloperModeWidget.tsx
  gui/src/components/widgets/IMUVisualizerWidget.tsx
  gui/src/components/widgets/OverlayWidget.tsx
  gui/src/hooks/app.ts
  gui/src/hooks/config.ts
  gui/src/hooks/datafeed-config.ts
  gui/src/hooks/tracker.ts
  gui/src/hooks/websocket-api.ts
  gui/src/maths/quaternion.ts
  gui/src/maths/vector3.ts
  package-lock.json
Labels: Area: Application Protocol, Priority: Normal, Area: GUI, Type: Enhancement

#483 Add `BVHSettings` and allow writing end nodes
  server/src/main/java/dev/slimevr/posestreamer/BVHFileStream.java
  server/src/main/java/dev/slimevr/posestreamer/BVHSettings.java
Labels: Type: Feature Request, Priority: Low

#354 Add German Translations to GUI
  gui/public/i18n/de/translation.ftl
  gui/src/i18n/config.tsx
Labels: Area: Translation

#480 Improve reset code and make it so VRTrackers can reset
  server/src/main/java/dev/slimevr/vr/trackers/IMUTracker.java
  server/src/main/java/dev/slimevr/vr/trackers/VRTracker.java
Labels: Priority: Normal, Type: Enhancement

#490 Translating new lines in dutch
  gui/public/i18n/nl/translation.ftl
Labels: Area: Translation

#493 Adding some missing deutsch translations
  gui/public/i18n/de/translation.ftl
Labels: Area: Translation

#488 Update Vietnamese translation
  gui/public/i18n/vi/translation.ftl
Labels: Area: Translation

#492 gui: Fix battery indicator always full
  gui/src/components/tracker/TrackerBattery.tsx
Labels: Type: Bug, Priority: High, Area: GUI

#491 Add french translation to 0.'s IMU debug
  gui/public/i18n/fr/translation.ftl
Labels: Area: Translation

#496 Some text was translated into Japanese.
  gui/public/i18n/ja/translation.ftl
Labels: Area: Translation

#507 Korean: Improved untranslated parts
  gui/public/i18n/ko/translation.ftl
Labels: Area: Translation

#513 Fix translations
  gui/public/i18n/et/translation.ftl
  gui/public/i18n/vi/translation.ftl
Labels: Area: Translation

#518 Mirror tracker assignment
  gui/src/components/commons/PersonFrontIcon.tsx
  gui/src/components/onboarding/BodyAssignment.tsx
Labels: Area: GUI, Type: Enhancement

#508 Maintain compatibility with Java 19
  gradle/wrapper/gradle-wrapper.properties
  server/build.gradle.kts
Labels: Type: Bug

#456 Add pontoon config
  .gitignore
  l10n.toml
Labels: Area: Translation

#522 Update Italian translation
  gui/public/i18n/it/translation.ftl
Labels: Area: Translation

#506 Add linux metadata
  assets/img/onboarding.png
  dev.slimevr.SlimeVR.metainfo.xml
  gui/src-tauri/dev.slimevr.SlimeVR.desktop
  gui/src-tauri/icons/icon.svg
Labels: OS: Linux

#521 Add pontoon actions
  .github/workflows/pontoon-pr.yml
  .github/workflows/rebase.yml
Labels: Area: Continuous Integration, Area: Translation

#530 Better tracker velocity display
  gui/src/components/tracker/TrackerCard.tsx
  gui/src/components/tracker/TrackerPartCard.tsx
  gui/src/components/tracker/TrackersTable.tsx
  gui/src/hooks/tracker.ts
Labels: Area: GUI

#531 fix inputs unfocus
  gui/src/components/SerialDetectionModal.tsx
  gui/src/components/commons/Input.tsx
  gui/src/components/onboarding/pages/WifiCreds.tsx
  gui/src/components/settings/pages/GeneralSettings.tsx
  gui/src/components/settings/pages/OSCRouterSettings.tsx
  gui/src/components/settings/pages/VRCOSCSettings.tsx
  gui/src/components/tracker/TrackerSettings.tsx
  gui/src/hooks/wifi-form.tsx
Labels: Area: GUI

#532 Use new drawings
  gui/public/images/front-standing-pose.png
  gui/public/images/mounting-reset-pose.png
  gui/public/images/reset-pose.png
  gui/src/components/commons/PersonFrontIcon.tsx
  gui/src/components/onboarding/BodyAssignment.tsx
  gui/src/components/onboarding/pages/mounting/mounting-steps/MountingReset.tsx
  gui/src/components/onboarding/pages/mounting/mounting-steps/Preparation.tsx
Labels: Area: GUI

#516 Lots of misc gui fixes
  gui/package.json
  gui/public/i18n/en-x-owo/translation.ftl
  gui/public/i18n/en/translation.ftl
  gui/public/i18n/fr/translation.ftl
  gui/src/components/commons/BaseModal.tsx
  gui/src/components/commons/TipBox.tsx
  gui/src/components/commons/Typography.tsx
  gui/src/components/onboarding/NeckWarningModal.tsx
  gui/src/components/onboarding/OnboardingContextProvicer.tsx
  gui/src/components/onboarding/pages/trackers-assign/TrackerSelectionMenu.tsx
  gui/src/components/settings/pages/Serial.tsx
  gui/src/components/tracker/SingleTrackerBodyAssignmentMenu.tsx
  gui/src/components/tracker/TrackersTable.tsx
  gui/src/components/utils/formatting.ts
  gui/src/index.css
  gui/vite.config.ts
  package-lock.json
Labels: Type: Bug, Area: GUI

#533 Fix pontoon action
  .github/workflows/pontoon-pr.yml
  .github/workflows/rebase.yml
Labels: Area: Continuous Integration, Area: Translation

#529 More metadata info
  CONTRIBUTING.md
  dev.slimevr.SlimeVR.metainfo.xml
Labels: OS: Linux

#528 Use XDG_RUNTIME_DIR for socket
  server/src/main/java/dev/slimevr/VRServer.java
  server/src/main/java/dev/slimevr/platform/linux/UnixSocketBridge.java
  server/src/main/java/io/eiren/util/OperatingSystem.java
Labels: OS: Linux, Area: SteamVR Driver
