Repository SlimeVR/SlimeVR-Server, pull requests merged in 2023-05, with the labels that each got.

#678 More GUI fixes
  Cargo.lock
  gui/public/i18n/en/translation.ftl
  gui/public/images/curious-slime.gif
  gui/public/images/happy-slime.gif
  gui/public/images/jumping-slime.gif
  gui/public/images/sad-slime.gif
  gui/public/models/extension.gltf
  gui/src-tauri/Cargo.toml
  gui/src-tauri/tauri.conf.json
  gui/src/App.tsx
  gui/src/components/Navbar.tsx
  gui/src/components/SerialDetectionModal.tsx
  gui/src/components/commons/Button.tsx
  gui/src/components/commons/Input.tsx
  gui/src/components/commons/NumberSelector.tsx
  gui/src/components/commons/icon/LoaderIcon.tsx
  gui/src/components/commons/icon/SpinIcon.tsx
  gui/src/components/home/Home.tsx
  gui/src/components/home/ResetButton.tsx
  gui/src/components/onboarding/SkipSetupWarningModal.tsx
  gui/src/components/onboarding/pages/ConnectTracker.tsx
  gui/src/components/onboarding/pages/WifiCreds.tsx
  gui/src/components/onboarding/pages/body-proportions/AutomaticProportions.tsx
  gui/src/components/onboarding/pages/body-proportions/ManualProportions.tsx
  gui/src/components/onboarding/pages/body-proportions/ProportionsChoose.tsx
  gui/src/components/onboarding/pages/body-proportions/autobone-steps/PutTrackersOn.tsx
  gui/src/components/onboarding/pages/body-proportions/autobone-steps/Requirements.tsx
  gui/src/components/onboarding/pages/body-proportions/autobone-steps/StartRecording.tsx
  gui/src/components/onboarding/pages/body-proportions/autobone-steps/VerifyResults.tsx
  gui/src/components/onboarding/pages/mounting/MountingChoose.tsx
  gui/src/components/onboarding/pages/mounting/mounting-steps/Done.tsx
  gui/src/components/onboarding/pages/mounting/mounting-steps/MountingReset.tsx
  gui/src/components/onboarding/pages/mounting/mounting-steps/Preparation.tsx
  gui/src/components/onboarding/pages/mounting/mounting-steps/PutTrackersOn.tsx
  gui/src/components/tracker/TrackerSettings.tsx
  gui/src/components/widgets/IMUVisualizerWidget.tsx
  gui/src/hooks/body-proportions.ts
  gui/src/index.css
  package-lock.json
Labels: Area: GUI, Type: Enhancement

#673 Update contributing information
  CONTRIBUTING.md
  README.md
  gui/LICENSE.md
  gui/README.md
Labels: Area: Documentation, Priority: Normal, Type: Enhancement

#687 Calibration tutorial
  gui/public/i18n/en/translation.ftl
  gui/public/images/taybol.png
  gui/src/App.tsx
  gui/src/components/onboarding/pages/CalibrationTutorial.tsx
  gui/src/components/onboarding/pages/ConnectTracker.tsx
  gui/src/components/onboarding/pages/WifiCreds.tsx
  gui/src/components/onboarding/pages/trackers-assign/TrackerAssignment.tsx
  gui/src/components/tracker/TrackerSettings.tsx
  gui/src/hooks/countdown.ts
  gui/src/hooks/imu-logic.ts
  gui/src/maths/quaternion.ts
Labels: Area: GUI, Type: Enhancement

#690 Basic version update checking
  Cargo.lock
  gui/package.json
  gui/public/i18n/en/translation.ftl
  gui/src-tauri/Cargo.toml
  gui/src-tauri/tauri.conf.json
  gui/src/App.tsx
  gui/src/components/TopBar.tsx
  gui/src/components/VersionUpdateModal.tsx
  gui/src/components/commons/icon/DownloadIcon.tsx
  package-lock.json
Labels: Priority: Normal, Area: GUI

#671 Additional Theme Options
  gui/src/components/settings/pages/GeneralSettings.tsx
  gui/src/index.css
  gui/tailwind.config.cjs
Labels: Priority: Low, Area: GUI, Type: Enhancement

#682 Log yaw drift and reset all trackers
  server/src/main/java/dev/slimevr/tracking/processor/HumanPoseManager.java
  server/src/main/java/dev/slimevr/tracking/processor/skeleton/HumanSkeleton.java
  server/src/main/java/dev/slimevr/tracking/trackers/TrackerResetsHandler.kt
Labels: Type: Enhancement, Area: Server

#698 Fix BVH translation comment
  gui/public/i18n/en/translation.ftl
Labels: Priority: Low, Area: Translation

#701 Require the use of run command for running server
  gui/src-tauri/src/main.rs
  server/build.gradle.kts
  server/src/main/java/dev/slimevr/Main.kt
Labels: Type: Enhancement, Area: Server

#691 Better foot plant
  server/src/main/java/dev/slimevr/tracking/processor/skeleton/LegTweaks.java
Labels: Priority: Normal, Type: Enhancement, Area: Server

#695 Some more random improvements
  gui/package.json
  gui/public/i18n/en/translation.ftl
  gui/src-tauri/Cargo.toml
  gui/src-tauri/tauri.conf.json
  gui/src/components/onboarding/pages/body-proportions/ProportionsChoose.tsx
  package-lock.json
  server/src/main/java/dev/slimevr/protocol/rpc/RPCHandler.java
  server/src/main/java/dev/slimevr/protocol/rpc/setup/RPCUtil.kt
  server/src/main/java/dev/slimevr/tracking/trackers/TrackerUtils.kt
Labels: Type: Bug, Area: Application Protocol, Area: GUI, Type: Enhancement, Area: Server

#705 Fix user height calculation and AutoBone targetHeight initialization order
  server/src/main/java/dev/slimevr/autobone/AutoBone.kt
  server/src/main/java/dev/slimevr/tracking/processor/config/SkeletonConfigManager.java
Labels: Type: Bug, Area: Skeletal Model, Priority: High, Area: Autobone, Area: Server
