Repository SlimeVR/SlimeVR-Server, pull requests merged in 2023-06, with the labels that each got.

#668 Send Tracker Battery Info to SteamVR
  server/src/main/java/dev/slimevr/bridge/ProtobufBridge.java
  server/src/main/java/dev/slimevr/bridge/ProtobufMessages.java
  server/src/main/java/dev/slimevr/platform/SteamVRBridge.java
Labels: Priority: Normal, Status: Blocked by other issue, Type: Enhancement, Area: SteamVR Driver, Area: Server

#696 Add more tutorials on setup
  gui/public/i18n/en/translation.ftl
  gui/public/images/taybol.png
  gui/src/App.tsx
  gui/src/components/MainLayout.tsx
  gui/src/components/TopBar.tsx
  gui/src/components/commons/TipBox.tsx
  gui/src/components/commons/icon/PauseIcon.tsx
  gui/src/components/commons/icon/PlayIcon.tsx
  gui/src/components/commons/icon/QuestionIcon.tsx
  gui/src/components/commons/icon/TaybolIcon.tsx
  gui/src/components/commons/icon/TrashIcon.tsx
  gui/src/components/onboarding/BodyAssignment.tsx
  gui/src/components/onboarding/pages/CalibrationTutorial.tsx
  gui/src/components/onboarding/pages/ConnectTracker.tsx
  gui/src/components/onboarding/pages/ResetTutorial.tsx
  gui/src/components/onboarding/pages/WifiCreds.tsx
  gui/src/components/onboarding/pages/assignment-preparation/AssignmentTutorial.tsx
  gui/src/components/onboarding/pages/assignment-preparation/ExtensionArrow.tsx
  gui/src/components/onboarding/pages/assignment-preparation/StickerSlime.tsx
  gui/src/components/onboarding/pages/assignment-preparation/TrackerArrow.tsx
  gui/src/components/onboarding/pages/body-proportions/ProportionsChoose.tsx
  gui/src/components/onboarding/pages/mounting/MountingChoose.tsx
  gui/src/components/onboarding/pages/trackers-assign/TrackerAssignment.tsx
  gui/tailwind.config.cjs
Labels: Area: GUI, Type: Enhancement

#707 Fix GUI bugs
  gui/src/App.tsx
  gui/src/components/onboarding/pages/ResetTutorial.tsx
  gui/src/components/onboarding/pages/body-proportions/ProportionsChoose.tsx
Labels: Type: Bug, Area: GUI

#704 Update dependencies and stuff
  build.gradle.kts
  gradle.properties
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  server/build.gradle.kts
  server/spotless.xml
  server/src/main/java/dev/slimevr/tracking/trackers/Device.kt
  server/src/main/java/dev/slimevr/tracking/trackers/udp/UDPDevice.kt
Labels: Type: Bug, Type: Enhancement, Area: Server

#722 Fix player trackers not being found or assigned in HumanSkeleton
  server/src/main/java/dev/slimevr/poseframeformat/trackerdata/TrackerFrames.kt
Labels: Type: Bug, Priority: High, Area: Autobone, Area: Server

#712 Do Not Send Erroneous Battery Readings to SteamVR
  server/src/main/java/dev/slimevr/platform/SteamVRBridge.java
Labels: Type: Bug, Area: SteamVR Driver, Area: Server

#717 Fix allowDriftCompensation setting to false on mounting or assign
  gui/src/components/onboarding/pages/mounting/ManualMounting.tsx
  gui/src/components/onboarding/pages/trackers-assign/TrackerAssignment.tsx
Labels: Type: Bug, Area: GUI

#721 Tracking pause fixes
  server/src/main/java/dev/slimevr/tracking/processor/HumanPoseManager.java
  server/src/main/java/dev/slimevr/tracking/processor/skeleton/HumanSkeleton.java
Labels: Type: Bug, Area: Skeletal Model, Area: Server

#730 Fix reset status on yaw reset
  server/src/main/java/dev/slimevr/protocol/rpc/setup/RPCUtil.kt
  server/src/main/java/dev/slimevr/tracking/trackers/Tracker.kt
  server/src/main/java/dev/slimevr/tracking/trackers/TrackerResetsHandler.kt
Labels: Type: Enhancement, Area: Server

#715 fix trackerName logic for error status
  gui/src/components/WidgetsComponent.tsx
  gui/src/components/home/Home.tsx
  gui/src/hooks/status-system.ts
Labels: Type: Bug, Area: GUI

#736 PoseFrame fix & AutoBone change
  server/src/main/java/dev/slimevr/autobone/AutoBone.kt
  server/src/main/java/dev/slimevr/config/AutoBoneConfig.kt
  server/src/main/java/dev/slimevr/poseframeformat/PoseRecorder.kt
Labels: Type: Bug, Priority: High, Area: Autobone, Area: Server

#734 Updates the recommended mounting method to manual
  gui/public/i18n/en/translation.ftl
  gui/src/components/onboarding/pages/mounting/MountingChoose.tsx
Labels: Area: GUI

#735 fix trackerError status returning empty object on null device
  gui/src/hooks/status-system.ts
Labels: Type: Bug, Area: GUI

#731 Finally fix small window
  Cargo.lock
  gui/package.json
  gui/src-tauri/Cargo.toml
  gui/src-tauri/src/main.rs
  gui/src-tauri/src/state.rs
  gui/src-tauri/src/util.rs
  gui/src-tauri/tauri.conf.json
  gui/src/App.tsx
  gui/src/components/TopBar.tsx
  package-lock.json
Labels: Type: Bug, Area: GUI

#741 Clear recent Pontoon untranslated keys
  gui/public/i18n/en/translation.ftl
  gui/public/i18n/es-419/translation.ftl
  gui/public/i18n/fr/translation.ftl
  gui/public/i18n/zh-Hans/translation.ftl
  gui/public/i18n/zh-Hant/translation.ftl
  gui/src/components/onboarding/pages/ResetTutorial.tsx
  gui/src/components/onboarding/pages/body-proportions/ProportionsChoose.tsx
  gui/src/components/onboarding/pages/mounting/MountingChoose.tsx
Labels: Type: Enhancement, Area: Translation

#692 Stop unconditionally hogging serial ports
  server/src/main/java/dev/slimevr/serial/ProvisioningHandler.java
Labels: Type: Bug, Area: Hardware Protocol, Area: Server

#740 Fix mobile bugs
  gui/src/components/commons/Dropdown.tsx
  gui/src/components/onboarding/OnboardingLayout.tsx
  gui/src/components/onboarding/pages/CalibrationTutorial.tsx
  gui/src/components/onboarding/pages/ConnectTracker.tsx
  gui/src/components/onboarding/pages/Home.tsx
  gui/src/components/onboarding/pages/ResetTutorial.tsx
  gui/src/components/onboarding/pages/WifiCreds.tsx
  gui/src/components/onboarding/pages/assignment-preparation/AssignmentTutorial.tsx
  gui/src/components/onboarding/pages/body-proportions/AutomaticProportions.tsx
  gui/src/components/onboarding/pages/body-proportions/ManualProportions.tsx
  gui/src/components/onboarding/pages/body-proportions/ProportionsChoose.tsx
  gui/src/components/onboarding/pages/mounting/AutomaticMounting.tsx
  gui/src/components/onboarding/pages/mounting/ManualMounting.tsx
  gui/src/components/onboarding/pages/mounting/MountingChoose.tsx
  gui/src/components/onboarding/pages/trackers-assign/TrackerAssignment.tsx
Labels: Type: Bug, Area: GUI

#684 Make AutoBone more modular and readable
  server/src/main/java/dev/slimevr/autobone/AutoBone.kt
  server/src/main/java/dev/slimevr/autobone/AutoBoneHandler.kt
  server/src/main/java/dev/slimevr/autobone/AutoBoneStep.kt
  server/src/main/java/dev/slimevr/autobone/AutoBoneTrainingStep.kt
  server/src/main/java/dev/slimevr/autobone/errors/BodyProportionError.kt
  server/src/main/java/dev/slimevr/autobone/errors/FootHeightOffsetError.kt
  server/src/main/java/dev/slimevr/autobone/errors/HeightError.kt
  server/src/main/java/dev/slimevr/autobone/errors/IAutoBoneError.kt
  server/src/main/java/dev/slimevr/autobone/errors/OffsetSlideError.kt
  server/src/main/java/dev/slimevr/autobone/errors/PositionError.kt
  server/src/main/java/dev/slimevr/autobone/errors/PositionOffsetError.kt
  server/src/main/java/dev/slimevr/autobone/errors/SlideError.kt
  server/src/main/java/dev/slimevr/config/AutoBoneConfig.kt
Labels: Type: Bug, Priority: Normal, Area: Autobone, Type: Enhancement, Area: Server
