Repository SlimeVR/SlimeVR-Server, pull requests merged in 2024-02, with the labels that each got.

#913 Add initial HID trackers support
  server/desktop/build.gradle.kts
  server/desktop/src/main/java/dev/slimevr/desktop/Main.kt
  server/desktop/src/main/java/dev/slimevr/desktop/tracking/trackers/hid/HIDDevice.kt
  server/desktop/src/main/java/dev/slimevr/desktop/tracking/trackers/hid/TrackersHID.kt
Labels: Area: Hardware Protocol, Priority: Normal, Type: Enhancement, Area: Server

#892 Update appstream metadata info
  dev.slimevr.SlimeVR.metainfo.xml
Labels: Area: Continuous Integration, OS: Linux

#897 Add tray support
  Cargo.lock
  flake.lock
  flake.nix
  gui/.lintstagedrc.mjs
  gui/public/i18n/en/translation.ftl
  gui/src-tauri/.lintstagedrc.mjs
  gui/src-tauri/Cargo.toml
  gui/src-tauri/icons/appleTrayIcon.png
  gui/src-tauri/src/main.rs
  gui/src-tauri/src/tray.rs
  gui/src/App.tsx
  gui/src/components/TopBar.tsx
  gui/src/components/TrayOrExitModal.tsx
  gui/src/components/commons/icon/QuestionIcon.tsx
  gui/src/components/settings/pages/InterfaceSettings.tsx
  gui/src/hooks/config.ts
  gui/src/i18n/config.tsx
  gui/src/utils/a11y.ts
Labels: Area: GUI, Type: Enhancement

#937 show drift compensation in tracker preview
  server/core/src/main/java/dev/slimevr/tracking/trackers/Tracker.kt
  server/core/src/main/java/dev/slimevr/tracking/trackers/TrackerResetsHandler.kt
Labels: Priority: Normal, Type: Enhancement, Area: Server

#939 Change mounting position/rotation/direction to mounting orientation
  gui/public/i18n/en/translation.ftl
  server/core/src/main/java/dev/slimevr/tracking/processor/skeleton/HumanSkeleton.kt
  server/core/src/main/java/dev/slimevr/tracking/trackers/Tracker.kt
  server/core/src/main/java/dev/slimevr/tracking/trackers/TrackerPosition.kt
Labels: Type: Bug, Priority: Low, Area: Translation, Area: Server

#909 allow to set the socket dir via SLIMEVR_SOCKET_DIR
  server/core/src/main/java/io/eiren/util/OperatingSystem.kt
  server/desktop/src/main/java/dev/slimevr/desktop/Main.kt
Labels: Type: Enhancement, OS: Linux, Area: SteamVR Driver, Area: Server

#922 Add pause tracking toggle to user action packet
  server/core/src/main/java/dev/slimevr/tracking/trackers/udp/TrackersUDPServer.kt
  server/core/src/main/java/dev/slimevr/tracking/trackers/udp/UDPPacket.kt
Labels: Area: Hardware Protocol, Type: Enhancement, Area: Server

#940 move biAlign into Quaternion.kt
  server/core/src/main/java/dev/slimevr/tracking/trackers/TrackerResetsHandler.kt
  server/core/src/main/java/io/github/axisangles/ktmath/Quaternion.kt
Labels: Type: Enhancement, Area: Server

#924 Fixing small bugs
  flake.nix
  gui/public/i18n/en/translation.ftl
  gui/public/images/autobone-poster.webp
  gui/public/videos/autobone.webm
  gui/src/components/Preload.tsx
  gui/src/components/commons/BodyInteractions.tsx
  gui/src/components/commons/Input.tsx
  gui/src/components/commons/PersonFrontIcon.tsx
  gui/src/components/commons/icon/EyeIcon.tsx
  gui/src/components/commons/icon/PlayIcon.tsx
  gui/src/components/onboarding/BodyAssignment.tsx
  gui/src/components/onboarding/StepperSlider.tsx
  gui/src/components/onboarding/pages/ConnectTracker.tsx
  gui/src/components/onboarding/pages/WifiCreds.tsx
  gui/src/components/onboarding/pages/body-proportions/ProportionsChoose.tsx
  gui/src/components/onboarding/pages/body-proportions/autobone-steps/Recording.tsx
  gui/src/components/onboarding/pages/body-proportions/autobone-steps/StartRecording.tsx
  gui/src/components/onboarding/pages/mounting/ManualMounting.tsx
  gui/src/components/onboarding/pages/trackers-assign/TrackerAssignment.tsx
  gui/src/components/tracker/SingleTrackerBodyAssignmentMenu.tsx
  gui/src/components/widgets/SkeletonVisualizerWidget.tsx
  gui/src/hooks/config.ts
  gui/src/hooks/wifi-form.tsx
  server/core/src/main/java/io/eiren/util/OperatingSystem.kt
Labels: Type: Bug, Area: GUI, Type: Enhancement, Area: Server

#893 Migrate to pnpm
  .github/CODEOWNERS
  .github/workflows/build-gui.yml
  .github/workflows/gradle.yaml
  .vscode/extensions.json
  CONTRIBUTING.md
  gui/package.json
  gui/src-tauri/tauri.conf.json
  gui/src/components/onboarding/pages/mounting/MountingChoose.tsx
  gui/src/hooks/countdown.ts
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  server/android/build.gradle.kts
Labels: Area: GUI, Area: Continuous Integration, Type: Enhancement

#945 Remove changing acceleration space in hid tracker
  server/desktop/src/main/java/dev/slimevr/desktop/tracking/trackers/hid/TrackersHID.kt
Labels: Type: Bug, Area: Hardware Protocol, Area: Server
