Repository SlimeVR/SlimeVR-Server, pull requests merged in 2024-04, with the labels that each got.

#905 Update to latest GUI dependencies
  .github/workflows/build-gui.yml
  .github/workflows/gradle.yaml
  Cargo.lock
  Cargo.toml
  flake.nix
  gui/package.json
  gui/src-tauri/.gitignore
  gui/src-tauri/Cargo.toml
  gui/src-tauri/capabilities/migrated.json
  gui/src-tauri/src/main.rs
  gui/src-tauri/src/tray.rs
  gui/src-tauri/src/util.rs
  gui/src-tauri/tauri.conf.json
  gui/src/App.tsx
  gui/src/components/TopBar.tsx
  gui/src/components/commons/Input.tsx
  gui/src/components/onboarding/pages/CalibrationTutorial.tsx
  gui/src/components/onboarding/pages/ConnectTracker.tsx
  gui/src/components/onboarding/pages/body-proportions/ManualProportions.tsx
  gui/src/components/onboarding/pages/trackers-assign/TrackerAssignment.tsx
  gui/src/components/settings/pages/GeneralSettings.tsx
  gui/src/components/settings/pages/Serial.tsx
  gui/src/components/settings/pages/VMCSettings.tsx
  gui/src/components/settings/pages/VRCOSCSettings.tsx
  gui/src/components/tracker/SingleTrackerBodyAssignmentMenu.tsx
  gui/src/components/tracker/TrackerSettings.tsx
  gui/src/hooks/breakpoint.ts
  gui/src/hooks/config.ts
  gui/src/hooks/status-system.ts
  gui/src/i18n/config.tsx
  gui/src/utils/a11y.ts
  gui/src/utils/logging.ts
  package.json
  pnpm-lock.yaml
  rust-toolchain.toml
Labels: Area: GUI, Type: Enhancement

#977 fix tauri issues
  gui/src-tauri/capabilities/migrated.json
  gui/src/hooks/config.ts
Labels: Type: Bug, Area: GUI

#976 fix windows bundling not working
  .github/workflows/gradle.yaml
Labels: Type: Bug, Area: Continuous Integration, OS: Windows

#978 Fix hands warning button styling
  gui/src/components/settings/HandsWarningModal.tsx
Labels: Type: Bug, Area: GUI

#979 Remove default keybind behavior in browser window
  gui/src/App.tsx
  gui/src/hooks/layout.ts
Labels: Area: GUI, Type: Enhancement

#980 Revert packages that are broken
  gui/package.json
  pnpm-lock.yaml
Labels: Type: Bug, Area: GUI

#981 Make only search bar keybinds be prevented
  gui/src/App.tsx
Labels: Type: Bug, Area: GUI

#988 dont prefix `v` on versions
  server/core/src/main/java/dev/slimevr/tracking/trackers/udp/UDPDevice.kt
Labels: Type: Bug, Area: Server

#986 assign knee when hasFoot for SteamVR
  server/desktop/src/main/java/dev/slimevr/desktop/platform/SteamVRBridge.kt
Labels: Type: Enhancement, Area: Server

#987 fix permission issue on export proportions
  gui/src-tauri/capabilities/migrated.json
Labels: Type: Bug, Area: GUI

#985 fix GUI visual bugs in autobone
  gui/public/i18n/en/translation.ftl
  gui/src/components/commons/TipBox.tsx
  gui/src/components/onboarding/pages/body-proportions/AutomaticProportions.tsx
  gui/src/components/onboarding/pages/body-proportions/autobone-steps/CheckHeight.tsx
  gui/src/components/onboarding/pages/body-proportions/autobone-steps/Recording.tsx
  gui/src/components/onboarding/pages/body-proportions/autobone-steps/StartRecording.tsx
  gui/tailwind.config.ts
Labels: Type: Bug, Area: GUI

#996 Fix missing space in BVH
  server/core/src/main/java/dev/slimevr/posestreamer/BVHFileStream.kt
Labels: Type: Bug, Priority: High, Area: Server

#993 Check if saved window size is at least the minimum allowed
  gui/src-tauri/src/main.rs
  gui/src-tauri/src/state.rs
  gui/src-tauri/src/util.rs
Labels: Type: Bug, Area: GUI

#1001 Add compact IMU frame (rot+acc)
  server/core/src/main/java/dev/slimevr/tracking/trackers/udp/TrackersUDPServer.kt
  server/core/src/main/java/dev/slimevr/tracking/trackers/udp/UDPPacket.kt
  server/core/src/main/java/dev/slimevr/tracking/trackers/udp/UDPProtocolParser.kt
Labels: Area: Hardware Protocol, Type: Enhancement, Area: Server

#992 update hid4java to 0.8
  flake.nix
  server/desktop/build.gradle.kts
  server/desktop/src/main/java/dev/slimevr/desktop/tracking/trackers/hid/TrackersHID.kt
Labels: Area: Hardware Protocol, Type: Enhancement, Area: Server

#1005 Update Github action versions to non-deprecated ones
  .github/workflows/build-gui.yml
  .github/workflows/gradle.yaml
  .github/workflows/pontoon-pr.yml
  .github/workflows/rebase.yml
Labels: Area: Continuous Integration, Type: Enhancement

#1000 Fix the HID decoding, replace Q14 with Q15, optimize
  server/desktop/src/main/java/dev/slimevr/desktop/tracking/trackers/hid/TrackersHID.kt
Labels: Type: Bug, Area: Hardware Protocol, Area: Server

#1015 fix macOS bundling action
  .github/workflows/gradle.yaml
Labels: Type: Bug, Area: Continuous Integration
