Repository SlimeVR/SlimeVR-Server, pull requests merged in 2024-09, with the labels that each got.

#1150 Fix tracker reset logic
  server/core/src/main/java/dev/slimevr/tracking/trackers/Tracker.kt
  server/desktop/src/main/java/dev/slimevr/desktop/platform/SteamVRBridge.kt
Labels: Type: Bug, Priority: High, Area: AutoBone, Area: Server

#1177 Update appstream data
  dev.slimevr.SlimeVR.metainfo.xml
Labels: Area: Continuous Integration, Type: Enhancement

#1176 Config check if config path exists and create it if not
  server/core/src/main/java/dev/slimevr/config/ConfigManager.java
Labels: Type: Bug, Area: Server
