Repository SlimeVR/SlimeVR-Server, pull requests merged in 2024-12, with the labels that each got.

#1256 Fix Rust logging by disabling ANSI for file output.
  gui/src-tauri/src/main.rs
  gui/src-tauri/src/util.rs
Labels: Type: Bug, Priority: Normal, Area: GUI

#1253 Fix Appimage crashing for people
  .github/workflows/gradle.yaml
Labels: Type: Bug, Area: Continuous Integration, OS: Linux

#1261 Refactor + Check for Env variables
  Cargo.lock
  gui/src-tauri/Cargo.toml
  gui/src-tauri/src/main.rs
Labels: Area: GUI, Type: Enhancement, Area: Server

#1269 Use jSerialComm 2.11.1-SNAPSHOT
  server/desktop/build.gradle.kts
Labels: Type: Bug, Priority: High, OS: Windows, Area: Server
