Repository SlimeVR/SlimeVR-Server, pull requests merged in 2024-11, with the labels that each got.

#1226 Check if buffer is the size of a `u16` at least before getting it
  server/core/src/main/java/dev/slimevr/tracking/trackers/udp/UDPPacket.kt
Labels: Type: Bug, Area: Hardware Protocol, Area: Server

#1224 Make label of tracker name use the translation function
  gui/src/components/tracker/TrackerSettings.tsx
Labels: Type: Bug, Area: GUI, Area: Translation

#1229 dont create `vrconfig.yml` folder
  dev.slimevr.SlimeVR.metainfo.xml
  server/core/src/main/java/dev/slimevr/config/ConfigManager.java
Labels: Type: Bug, Priority: High, Area: Server

#1237 Support not having git for making android builds
  server/.gitignore
  server/android/build.gradle.kts
Labels: Type: Enhancement, Area: Server

#1240 Fix ktor crashing because proguard minifies for Android
  server/android/proguard-rules.pro
Labels: Type: Bug, OS: Android, Area: Server

#1227 Make GUI check well against translation changes
  .github/labeler.yml
Labels: Type: Bug, Area: Continuous Integration

#1235 make HID Device a slime
  gui/src/components/tracker/TrackersTable.tsx
Labels: Type: Bug, Area: GUI

#1244 Potentially fix weird hip issues
  server/core/src/main/java/dev/slimevr/tracking/processor/skeleton/HumanSkeleton.kt
Labels: Type: Bug, Area: Skeletal Model, Area: Server

#1246 Improve VRM model file input
  gui/public/i18n/en/translation.ftl
  gui/src/components/commons/FileInput.tsx
  gui/src/components/commons/icon/CloseIcon.tsx
  gui/src/components/commons/icon/FileIcon.tsx
  gui/src/components/commons/icon/UploadFileIcon.tsx
  gui/src/components/settings/pages/VMCSettings.tsx
  server/core/src/main/java/dev/slimevr/protocol/rpc/settings/RPCSettingsHandler.kt
Labels: Area: GUI, Area: Translation, Area: Server
