Repository SlimeVR/SlimeVR-Server, pull requests merged in 2024-08, with the labels that each got.

#1116 Use default security attributes for named pipes
  server/desktop/src/main/java/dev/slimevr/desktop/platform/windows/WindowsNamedPipeBridge.java
Labels: Type: Bug, Priority: Low, Area: SteamVR Driver, OS: Windows, Area: Server

#1128 Fix git version script trimming wrong command
  gui/scripts/gitversion.mjs
Labels: Type: Bug, Area: GUI, Area: Continuous Integration

#1131 Change Android webserver port to 34536
  server/android/src/main/java/dev/slimevr/android/Main.kt
  server/android/src/main/java/dev/slimevr/android/MainActivity.kt
Labels: Type: Bug, Priority: High, OS: Android, Area: Server

#1132 Fix skeleton issues
  server/core/src/main/java/dev/slimevr/autobone/AutoBoneHandler.kt
  server/core/src/main/java/dev/slimevr/tracking/processor/HumanPoseManager.kt
  server/core/src/main/java/dev/slimevr/tracking/processor/skeleton/HumanSkeleton.kt
  server/core/src/main/java/dev/slimevr/tracking/trackers/TrackerResetsHandler.kt
Labels: Type: Bug, Area: Skeletal Model, Priority: High, Area: Server

#1129 Fix many GUI bugs found
  gui/public/i18n/en/translation.ftl
  gui/src-tauri/src/presence.rs
  gui/src/components/commons/BodyInteractions.tsx
  gui/src/components/commons/Typography.tsx
  gui/src/components/onboarding/pages/CalibrationTutorial.tsx
  gui/src/components/onboarding/pages/ConnectTracker.tsx
  gui/src/components/onboarding/pages/ResetTutorial.tsx
  gui/src/components/onboarding/pages/WifiCreds.tsx
  gui/src/components/onboarding/pages/assignment-preparation/AssignmentTutorial.tsx
  gui/src/components/onboarding/pages/body-proportions/autobone-steps/Recording.tsx
  gui/src/components/onboarding/pages/body-proportions/autobone-steps/StartRecording.tsx
  gui/src/components/onboarding/pages/mounting/ManualMounting.tsx
  gui/src/components/onboarding/pages/mounting/MountingChoose.tsx
  gui/src/components/onboarding/pages/mounting/TryManualFirstModal.tsx
  gui/src/components/onboarding/pages/trackers-assign/TrackerAssignOptions.tsx
  gui/src/components/onboarding/pages/trackers-assign/TrackerAssignment.tsx
  gui/src/components/settings/pages/GeneralSettings.tsx
  gui/src/components/tracker/TrackerCard.tsx
  gui/src/hooks/config.ts
  gui/src/hooks/imu-logic.ts
  gui/src/maths/vector3.ts
Labels: Type: Bug, Priority: High, Area: GUI, Type: Enhancement

#1133 Fix Android build & OSC support
  server/android/proguard-rules.pro
  server/core/build.gradle.kts
Labels: Type: Bug, Priority: High, OS: Android, Area: Server, Area: VRCOSC

#1135 Change automatic mounting pose image to new one
  gui/public/images/mounting-reset-pose.avif
  gui/public/images/mounting-reset-pose.webp
  gui/src/components/Preload.tsx
  gui/src/components/onboarding/pages/mounting/mounting-steps/MountingReset.tsx
Labels: Area: GUI, Type: Enhancement

#1139 remove discord log that includes user information
  gui/src-tauri/src/presence.rs
Labels: Type: Bug, Area: GUI

#1137 Add dependabot for GitHub Actions
  .github/dependabot.yml
Labels: Priority: Low, Type: Enhancement

#1145 Update mounting reset image to a newer one
  gui/public/images/mounting-reset-pose.avif
Labels: Area: GUI, Type: Enhancement

#1146 Convert to WebP in mounting reset once again
  gui/public/images/mounting-reset-pose.avif
  gui/public/images/mounting-reset-pose.webp
  gui/src/components/Preload.tsx
  gui/src/components/onboarding/pages/mounting/mounting-steps/MountingReset.tsx
Labels: Type: Bug, Area: GUI, OS: Linux

#1141 Fix SlimeVR server from not working reliably on Quest standalone
  server/android/src/main/AndroidManifest.xml
  server/android/src/main/java/dev/slimevr/android/ForegroundService.kt
  server/android/src/main/java/dev/slimevr/android/MainActivity.kt
Labels: Priority: High, Type: Enhancement, OS: Android, Area: Server

#1099 Add scripts for checking licenses
  deny.toml
  gui/package.json
  gui/scripts/license-list.mjs
  pnpm-lock.yaml
Labels: Area: GUI, Area: Continuous Integration, Type: Enhancement
