Repository SlimeVR/SlimeVR-Server, pull requests merged in 2024-03, with the labels that each got.

#956 Sleep if no HID device present
  server/desktop/src/main/java/dev/slimevr/desktop/tracking/trackers/hid/TrackersHID.kt
Labels: Area: Hardware Protocol, Priority: High, Type: Enhancement, Area: Server

#942 Add an error boundary for WebGL
  gui/package.json
  gui/public/i18n/en/translation.ftl
  gui/src/components/widgets/IMUVisualizerWidget.tsx
  gui/src/components/widgets/SkeletonVisualizerWidget.tsx
  pnpm-lock.yaml
Labels: Type: Bug, Area: GUI

#944 Fix state bug on tray exit
  gui/src/components/TopBar.tsx
Labels: Type: Bug, Area: GUI

#954 fastSeek is not available on most browsers, use currentTime
  gui/src/components/onboarding/pages/body-proportions/autobone-steps/Recording.tsx
  gui/src/components/onboarding/pages/body-proportions/autobone-steps/StartRecording.tsx
Labels: Type: Bug, Priority: High, Area: GUI

#950 Fix NaN rotation on reset with a zero quaternion
  server/core/src/main/java/dev/slimevr/tracking/trackers/udp/UDPPacket.kt
Labels: Type: Bug, Area: Hardware Protocol, Priority: High, Area: Server

#943 Fix macOS bundling giving an error
  .github/workflows/gradle.yaml
Labels: Type: Bug, Area: Continuous Integration

#953 Make mounting reset follow headset rotation
  server/core/src/main/java/com/jme3/math/FastMath.java
  server/core/src/main/java/dev/slimevr/tracking/trackers/TrackerResetsHandler.kt
  server/core/src/test/java/dev/slimevr/unit/MountingResetTests.kt
Labels: Type: Bug, Difficulty: Math Heavy, Priority: High, Area: Server

#960 Improve autobone GUI steps
  gui/public/i18n/en/translation.ftl
  gui/src/components/onboarding/pages/body-proportions/AutomaticProportions.tsx
  gui/src/components/onboarding/pages/body-proportions/autobone-steps/Preparation.tsx
  gui/src/components/onboarding/pages/body-proportions/autobone-steps/СheckHeight.tsx
Labels: Area: AutoBone, Area: GUI, Type: Enhancement, Area: Translation

#967 Tpose down fix
  server/core/src/main/java/dev/slimevr/tracking/trackers/TrackerResetsHandler.kt
Labels: Type: Bug, Area: Server

#923 Use tauri store for GUI config
  Cargo.lock
  gui/package.json
  gui/src-tauri/Cargo.toml
  gui/src-tauri/src/main.rs
  gui/src/hooks/config.ts
  pnpm-lock.yaml
Labels: Area: GUI, Type: Enhancement

#959 Make ktmath object-less
  server/android/build.gradle.kts
  server/core/build.gradle.kts
  server/core/src/main/java/com/jme3/math/FastMath.java
  server/core/src/main/java/com/jme3/math/FastMath.kt
  server/core/src/main/java/dev/slimevr/Keybinding.java
  server/core/src/main/java/dev/slimevr/VRServer.kt
  server/core/src/main/java/dev/slimevr/autobone/AutoBone.kt
  server/core/src/main/java/dev/slimevr/autobone/StatsCalculator.kt
  server/core/src/main/java/dev/slimevr/autobone/errors/BodyProportionError.kt
  server/core/src/main/java/dev/slimevr/autobone/errors/FootHeightOffsetError.kt
  server/core/src/main/java/dev/slimevr/autobone/errors/HeightError.kt
  server/core/src/main/java/dev/slimevr/autobone/errors/OffsetSlideError.kt
  server/core/src/main/java/dev/slimevr/autobone/errors/PositionOffsetError.kt
  server/core/src/main/java/dev/slimevr/autobone/errors/proportions/RangeProportionLimiter.kt
  server/core/src/main/java/dev/slimevr/config/ConfigManager.java
  server/core/src/main/java/dev/slimevr/config/TrackerConfig.java
  server/core/src/main/java/dev/slimevr/config/TrackerConfig.kt
  server/core/src/main/java/dev/slimevr/config/VRConfig.java
  server/core/src/main/java/dev/slimevr/config/VRConfig.kt
  server/core/src/main/java/dev/slimevr/config/serializers/QuaternionDeserializer.java
  server/core/src/main/java/dev/slimevr/config/serializers/QuaternionSerializer.java
  server/core/src/main/java/dev/slimevr/osc/VMCHandler.java
  server/core/src/main/java/dev/slimevr/osc/VMCHandler.kt
  server/core/src/main/java/dev/slimevr/posestreamer/BVHFileStream.java
  server/core/src/main/java/dev/slimevr/posestreamer/BVHFileStream.kt
  server/core/src/main/java/dev/slimevr/protocol/ProtocolHandler.java
  server/core/src/main/java/dev/slimevr/protocol/ProtocolHandler.kt
  server/core/src/main/java/dev/slimevr/protocol/rpc/RPCHandler.java
  server/core/src/main/java/dev/slimevr/protocol/rpc/RPCHandler.kt
  server/core/src/main/java/dev/slimevr/protocol/rpc/settings/RPCSettingsHandler.kt
  server/core/src/main/java/dev/slimevr/tracking/processor/HumanPoseManager.java
  server/core/src/main/java/dev/slimevr/tracking/processor/HumanPoseManager.kt
  server/core/src/main/java/dev/slimevr/tracking/processor/config/SkeletonConfigManager.java
  server/core/src/main/java/dev/slimevr/tracking/processor/config/SkeletonConfigManager.kt
  server/core/src/main/java/dev/slimevr/tracking/processor/skeleton/HumanSkeleton.kt
  server/core/src/main/java/dev/slimevr/tracking/processor/skeleton/LegTweaks.kt
  server/core/src/main/java/dev/slimevr/tracking/processor/skeleton/LegTweaksBuffer.kt
  server/core/src/main/java/dev/slimevr/tracking/processor/skeleton/Localizer.kt
  server/core/src/main/java/dev/slimevr/tracking/processor/skeleton/TapDetection.java
  server/core/src/main/java/dev/slimevr/tracking/processor/skeleton/TapDetection.kt
  server/core/src/main/java/dev/slimevr/tracking/processor/skeleton/TapDetectionManager.java
  server/core/src/main/java/dev/slimevr/tracking/processor/skeleton/ViveEmulation.java
  server/core/src/main/java/dev/slimevr/tracking/processor/skeleton/ViveEmulation.kt
  server/core/src/main/java/dev/slimevr/tracking/trackers/Tracker.kt
  server/core/src/main/java/dev/slimevr/websocketapi/WebSocketVRBridge.java
  server/core/src/main/java/dev/slimevr/websocketapi/WebSocketVRBridge.kt
  server/core/src/main/java/io/eiren/math/FloatMath.java
  server/core/src/main/java/io/eiren/math/FloatMath.kt
  server/core/src/main/java/io/github/axisangles/ktmath/EulerAngles.kt
  server/core/src/main/java/io/github/axisangles/ktmath/Matrix3.kt
  server/core/src/main/java/io/github/axisangles/ktmath/Quaternion.kt
  server/core/src/main/java/io/github/axisangles/ktmath/Transform.kt
  server/core/src/main/java/io/github/axisangles/ktmath/Vector3.kt
  server/desktop/build.gradle.kts
  server/desktop/src/main/java/dev/slimevr/desktop/platform/ProtobufBridge.java
  server/desktop/src/main/java/dev/slimevr/desktop/platform/ProtobufBridge.kt
  server/desktop/src/main/java/dev/slimevr/desktop/platform/SteamVRBridge.kt
Labels: Difficulty: Large refactor, Type: Enhancement, Area: Server

#969 fix known devices not saving
  server/core/src/main/java/dev/slimevr/config/VRConfig.kt
Labels: Type: Bug, Area: Server

#968 fix onboarding tracker connect description key
  gui/src/components/onboarding/pages/ConnectTracker.tsx
Labels: Type: Bug, Area: GUI, Area: Translation
