Repository SlimeVR/SlimeVR-Server, pull requests merged in 2024-10, with the labels that each got.

#1160 Add drift compensation warning
  gui/public/i18n/en/translation.ftl
  gui/src/components/settings/DriftCompensationModal.tsx
  gui/src/components/settings/pages/GeneralSettings.tsx
Labels: Priority: Normal, Area: GUI, Type: Enhancement, Area: Translation

#1152 Hide navbar onboarding
  gui/public/i18n/en/translation.ftl
  gui/src/components/Navbar.tsx
  gui/src/components/settings/pages/InterfaceSettings.tsx
  gui/src/hooks/config.ts
Labels: Area: GUI, Type: Enhancement

#1192 enforce lf with editorconfig
  .gitattributes
  .github/CODEOWNERS
Labels: Type: Enhancement

#1191 Add acceleration & position to tracker page
  gui/public/i18n/en/translation.ftl
  gui/src/components/widgets/IMUVisualizerWidget.tsx
Labels: Priority: Normal, Area: GUI, Type: Enhancement, Area: Translation

#1180 Add OS decorations toggle
  gui/package.json
  gui/public/i18n/en/translation.ftl
  gui/src-tauri/capabilities/migrated.json
  gui/src-tauri/src/state.rs
  gui/src/components/TopBar.tsx
  gui/src/components/settings/pages/InterfaceSettings.tsx
  gui/src/hooks/config.ts
  pnpm-lock.yaml
Labels: Area: GUI, Type: Enhancement

#1179 Add warning to proportions reset
  gui/public/i18n/en/translation.ftl
  gui/src/components/onboarding/OnboardingLayout.tsx
  gui/src/components/onboarding/pages/body-proportions/AutomaticProportions.tsx
  gui/src/components/onboarding/pages/body-proportions/ManualProportions.tsx
  gui/src/components/onboarding/pages/body-proportions/ProportionsResetModal.tsx
  gui/src/components/onboarding/pages/mounting/MountingChoose.tsx
Labels: Priority: High, Area: GUI, Type: Enhancement, Area: Translation

#1186 add a way to skip rest calibration tutorial
  gui/public/i18n/en/translation.ftl
  gui/src/components/onboarding/pages/CalibrationTutorial.tsx
  gui/src/hooks/imu-logic.ts
Labels: Area: GUI, Type: Enhancement

#1185 Block AutoBone with high error values
  gui/src/components/onboarding/pages/body-proportions/autobone-steps/CheckHeight.tsx
  server/core/src/main/java/dev/slimevr/autobone/AutoBone.kt
  server/core/src/main/java/dev/slimevr/autobone/AutoBoneHandler.kt
  server/core/src/main/java/dev/slimevr/config/AutoBoneConfig.kt
  server/core/src/main/java/dev/slimevr/poseframeformat/PoseFrameIO.kt
  server/core/src/main/java/dev/slimevr/poseframeformat/PoseRecorder.kt
Labels: Priority: High, Area: AutoBone, Area: GUI, Type: Enhancement, Area: Server

#1174 Handle missing local IP
  server/core/src/main/java/dev/slimevr/osc/VRCOSCHandler.kt
  server/core/src/main/java/dev/slimevr/osc/VRCOSCQueryHandler.kt
  server/core/src/main/java/dev/slimevr/protocol/rpc/RPCHandler.kt
  server/core/src/main/java/dev/slimevr/protocol/rpc/setup/RPCUtil.kt
Labels: Type: Bug, Priority: High, Area: Server, Area: VRCOSC

#1169 Restrict mounting reset on server by tracker reset status
  server/core/src/main/java/dev/slimevr/status/StatusSystem.kt
  server/core/src/main/java/dev/slimevr/tracking/processor/skeleton/HumanSkeleton.kt
  server/core/src/main/java/dev/slimevr/tracking/processor/skeleton/TapDetectionManager.java
Labels: Type: Bug, Priority: Normal, Area: Server

#1173 Update all gradle dependencies we have
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
  server/android/build.gradle.kts
  server/android/src/main/AndroidManifest.xml
  server/android/src/main/java/dev/slimevr/android/ForegroundService.kt
  server/build.gradle.kts
  server/core/build.gradle.kts
  server/core/src/main/java/dev/slimevr/filtering/QuaternionMovingAverage.kt
  server/core/src/main/java/dev/slimevr/osc/UnityArmature.kt
  server/core/src/main/java/dev/slimevr/osc/VMCHandler.kt
  server/core/src/main/java/dev/slimevr/osc/VRCOSCHandler.kt
  server/core/src/main/java/dev/slimevr/tracking/processor/config/SkeletonConfigManager.kt
  server/core/src/main/java/dev/slimevr/tracking/processor/skeleton/Localizer.kt
  server/core/src/main/java/dev/slimevr/tracking/processor/skeleton/TapDetection.kt
  server/core/src/main/java/dev/slimevr/tracking/trackers/TrackerUtils.kt
  server/core/src/main/java/io/github/axisangles/ktmath/Matrix3.kt
  server/desktop/build.gradle.kts
  settings.gradle.kts
Labels: Type: Enhancement, Area: Server

#1194 Update to Tauri v2 stable
  .husky/pre-commit
  Cargo.lock
  flake.nix
  gui/package.json
  gui/src-tauri/Cargo.toml
  gui/src-tauri/capabilities/migrated.json
  gui/src-tauri/src/main.rs
  gui/src-tauri/src/tray.rs
  gui/src-tauri/tauri.conf.json
  gui/src/components/TopBar.tsx
  gui/src/components/onboarding/pages/body-proportions/BodyProportions.tsx
  gui/src/hooks/config.ts
  gui/vite.config.ts
  package.json
  pnpm-lock.yaml
  rust-toolchain.toml
Labels: Area: GUI, Type: Enhancement

#1193 add runtime check for appindicator on linux
  .gitignore
  Cargo.lock
  gui/src-tauri/Cargo.toml
  gui/src-tauri/src/main.rs
  gui/src-tauri/src/tray.rs
  gui/src/components/TopBar.tsx
  gui/src/components/settings/pages/InterfaceSettings.tsx
  gui/src/i18n/config.tsx
  gui/src/utils/tauri.ts
Labels: Type: Bug, Area: GUI, OS: Linux

#1195 Remove check for port 35903
  server/desktop/src/main/java/dev/slimevr/desktop/Main.kt
Labels: Type: Bug, Priority: Low, Area: Server

#1207 Add asexual theme
  gui/src/components/settings/pages/InterfaceSettings.tsx
  gui/src/index.scss
  gui/tailwind.config.ts
Labels: Priority: Low, Area: GUI, Type: Enhancement

#1208 Fix vmc head shift for lock head
  server/core/src/main/java/dev/slimevr/osc/VMCHandler.kt
Labels: Type: Bug, Area: Server, Area: VMC

#1209 Fix tauri not autosaving store on close anymore
  gui/src/components/TopBar.tsx
  gui/src/hooks/config.ts
Labels: Type: Bug, Area: GUI

#1204 Fix style for tracker "shadow" & add to all cases
  gui/src/components/tracker/TrackerCard.tsx
  gui/src/components/tracker/TrackerPartCard.tsx
  gui/src/components/tracker/TrackerSettings.tsx
  gui/src/components/tracker/TrackersTable.tsx
Labels: Type: Bug, Priority: High, Area: GUI

#1214 Clarify AutoBone error after #1185
  gui/public/i18n/en/translation.ftl
  gui/src/components/onboarding/pages/body-proportions/autobone-steps/AutoboneErrorModal.tsx
Labels: Priority: High, Type: Enhancement, Area: Translation

#1200 Hid update protocol
  server/desktop/src/main/java/dev/slimevr/desktop/tracking/trackers/hid/HIDDevice.kt
  server/desktop/src/main/java/dev/slimevr/desktop/tracking/trackers/hid/TrackersHID.kt
Labels: Area: GUI, Area: Server

#1211 Don't upload `desktop.jar` on CI
  .github/workflows/gradle.yaml
Labels: Type: Bug, Area: Continuous Integration

#1212 Fix finishing setup wizard not make it be skipped next time
  gui/src/components/onboarding/pages/Done.tsx
Labels: Type: Bug, Area: GUI

#1215 Fix missing translation key on tracker settings for `Tracker name`
  gui/public/i18n/en/translation.ftl
  gui/src/components/settings/pages/InterfaceSettings.tsx
  gui/src/components/tracker/TrackerSettings.tsx
Labels: Type: Bug, Area: Translation

#1221 Update nix flake
  flake.lock
  flake.nix
Labels: Area: Continuous Integration, Type: Enhancement, OS: Linux

#1223 Fix magnetometer status bug and fix locale string plural rules
  gui/public/i18n/en/translation.ftl
  gui/src/components/tracker/TrackerSettings.tsx
  server/core/src/main/java/dev/slimevr/tracking/trackers/udp/TrackersUDPServer.kt
  server/core/src/main/java/dev/slimevr/tracking/trackers/udp/UDPPacket.kt
Labels: Type: Bug, Area: Hardware Protocol, Area: Translation, Area: Server

#1225 Improve logic of magnetometer toggle
  gui/src/components/tracker/TrackerSettings.tsx
  server/core/src/main/java/dev/slimevr/config/ServerConfig.kt
Labels: Type: Bug, Area: GUI, Area: Server
