Repository SlimeVR/SlimeVR-Server, pull requests merged in 2024-07, with the labels that each got.

#1093 Sync server constants with firmware
  server/core/src/main/java/dev/slimevr/tracking/trackers/udp/FirmwareConstants.kt
Labels: Status: Blocked by other issue

#1020 Fix VMC foot offset
  server/core/src/main/java/dev/slimevr/osc/VRMReader.kt
Labels: Type: Bug, Area: Server

#1019 Don't use neck length if head tracker doesn't have position
  server/core/src/main/java/dev/slimevr/tracking/processor/skeleton/HumanSkeleton.kt
Labels: Area: Skeletal Model, Type: Enhancement, Area: Server

#962 Add missing head tracker status
  gui/public/i18n/en/translation.ftl
  gui/src/hooks/status-system.ts
  server/core/src/main/java/dev/slimevr/osc/VRCOSCHandler.kt
  server/core/src/main/java/dev/slimevr/protocol/datafeed/DataFeedBuilder.java
  server/core/src/main/java/dev/slimevr/tracking/processor/HumanPoseManager.kt
  server/core/src/main/java/dev/slimevr/tracking/processor/skeleton/HumanSkeleton.kt
  server/core/src/main/java/dev/slimevr/tracking/trackers/Tracker.kt
  server/desktop/src/main/java/dev/slimevr/desktop/platform/SteamVRBridge.kt
Labels: Area: GUI, Type: Enhancement, Area: Server

#1097 Update to latest tauri again
  Cargo.lock
  gui/package.json
  gui/src-tauri/Cargo.toml
  gui/src/App.tsx
  package.json
  pnpm-lock.yaml
Labels: Type: Bug, Priority: High, Area: GUI, OS: Windows

#1030 Improvement on firewall batch scripts
  server/core/resources/firewall.bat
  server/core/resources/firewall_uninstall.bat
Labels: Area: Continuous Integration, Type: Enhancement, OS: Windows

#1117 Update jSerialComm library
  server/desktop/build.gradle.kts
Labels: Type: Bug, Area: Hardware Protocol, Priority: High, OS: Windows, Area: Server

#1121 Update flake nixpkgs revision
  flake.lock
  flake.nix
Labels: Area: Continuous Integration, Type: Enhancement, OS: Linux

#958 OSCQuery support
  gui/public/i18n/en/translation.ftl
  gui/src/components/settings/pages/VRCOSCSettings.tsx
  server/android/src/main/AndroidManifest.xml
  server/android/src/main/java/dev/slimevr/android/Main.kt
  server/build.gradle.kts
  server/core/build.gradle.kts
  server/core/src/main/java/dev/slimevr/VRServer.kt
  server/core/src/main/java/dev/slimevr/osc/OSCHandler.java
  server/core/src/main/java/dev/slimevr/osc/VMCHandler.kt
  server/core/src/main/java/dev/slimevr/osc/VRCOSCHandler.kt
  server/core/src/main/java/dev/slimevr/osc/VRCOSCQueryHandler.kt
  server/desktop/build.gradle.kts
  server/desktop/src/main/java/dev/slimevr/desktop/Main.kt
Labels: Priority: Normal, Area: GUI, Type: Enhancement, Area: Translation, Area: Server, Area: VRCOSC
