Repository SlimeVR/SlimeVR-Server, pull requests merged in 2024-06, with the labels that each got.

#1018 Begone Slimevr-ui.exe
  .github/workflows/gradle.yaml
Labels: Area: Continuous Integration, Type: Enhancement, OS: Windows

#1052 Add padding to tracker list on onboarding
  gui/src/components/onboarding/pages/ConnectTracker.tsx
Labels: Type: Bug, Area: GUI

#1058 Add padding to tracker list on onboarding
  gui/src/components/onboarding/pages/ConnectTracker.tsx
Labels: Type: Bug, Area: GUI

#1062 Use ``Exit`` event instead of ``ExitRequested``
  gui/src-tauri/src/main.rs
Labels: Type: Bug, Area: GUI

#1031 Don't check for waist or hip on `hasChest`
  server/desktop/src/main/java/dev/slimevr/desktop/platform/SteamVRBridge.kt
Labels: Type: Enhancement, Area: SteamVR Driver

#1024 Update metainfo to latest
  dev.slimevr.SlimeVR.metainfo.xml
Labels: Area: Documentation, Type: Enhancement, OS: Linux

#1028 fix `waitUntil` failing with arrays and objects
  gui/src/hooks/config.ts
Labels: Type: Bug, Area: GUI

#1004 Create tarball of GUI bundle on release
  .github/workflows/gradle.yaml
Labels: Area: Continuous Integration, Type: Enhancement

#991 macOS app naming improvements
  .github/workflows/gradle.yaml
Labels: Area: Continuous Integration, Type: Enhancement, OS: macOS

#994 Override tauri config version with git tag
  .github/workflows/build-gui.yml
  .github/workflows/gradle.yaml
  gui/scripts/gitversion.mjs
Labels: Area: Continuous Integration, Type: Enhancement

#1027 Add Discord Rich Presence support
  Cargo.lock
  gui/public/i18n/en/translation.ftl
  gui/src-tauri/Cargo.toml
  gui/src-tauri/src/main.rs
  gui/src-tauri/src/presence.rs
  gui/src/App.tsx
  gui/src/components/settings/pages/InterfaceSettings.tsx
  gui/src/hooks/config.ts
  gui/src/hooks/discord-presence.ts
  gui/src/hooks/timeout.ts
Labels: Area: GUI, Type: Enhancement

#984 Delete old resources from java
  server/core/build.gradle.kts
  server/core/resources/LICENSE.txt
  server/core/resources/run.bat
Labels: Area: Continuous Integration, Type: Enhancement, Area: Server

#1009 GUI - Tracker assignment options
  gui/public/i18n/en/translation.ftl
  gui/src/components/commons/Radio.tsx
  gui/src/components/onboarding/BodyAssignment.tsx
  gui/src/components/onboarding/OnboardingLayout.tsx
  gui/src/components/onboarding/pages/mounting/ManualMounting.tsx
  gui/src/components/onboarding/pages/trackers-assign/TrackerAssignment.tsx
  gui/src/components/tracker/SingleTrackerBodyAssignmentMenu.tsx
  gui/src/hooks/config.ts
Labels: Area: GUI, Type: Enhancement

#1023 Update to latest Tauri v2
  .github/workflows/build-gui.yml
  .github/workflows/gradle.yaml
  .gitignore
  Cargo.lock
  Cargo.toml
  flake.lock
  flake.nix
  gui/package.json
  gui/src-tauri/Cargo.toml
  gui/src-tauri/build.rs
  gui/src-tauri/src/main.rs
  gui/src-tauri/src/tray.rs
  gui/src/components/commons/FileInput.tsx
  gui/src/hooks/breakpoint.ts
  gui/src/vite-env.d.ts
  package.json
  pnpm-lock.yaml
  rust-toolchain.toml
Labels: Type: Bug, Area: GUI, Type: Enhancement

#1080 Remove useLayout
  Cargo.lock
  gui/package.json
  gui/src/App.tsx
  gui/src/components/MainLayout.scss
  gui/src/components/MainLayout.tsx
  gui/src/components/Navbar.tsx
  gui/src/components/commons/Button.tsx
  gui/src/components/home/Home.tsx
  gui/src/components/onboarding/OnboardingLayout.scss
  gui/src/components/onboarding/OnboardingLayout.tsx
  gui/src/components/onboarding/pages/ConnectTracker.scss
  gui/src/components/onboarding/pages/ConnectTracker.tsx
  gui/src/components/onboarding/pages/body-proportions/ManualProportions.tsx
  gui/src/components/onboarding/pages/body-proportions/autobone-steps/CheckHeight.tsx
  gui/src/components/onboarding/pages/mounting/MountingSelectionMenu.tsx
  gui/src/components/onboarding/pages/trackers-assign/TrackerAssignment.tsx
  gui/src/components/onboarding/pages/trackers-assign/TrackerSelectionMenu.tsx
  gui/src/components/settings/SettingsLayout.scss
  gui/src/components/settings/SettingsLayout.tsx
  gui/src/components/settings/SettingsPageLayout.tsx
  gui/src/components/settings/SettingsSidebar.tsx
  gui/src/components/settings/pages/Serial.tsx
  gui/src/hooks/layout.ts
  gui/src/index.scss
  gui/src/index.tsx
  pnpm-lock.yaml
Labels: Area: GUI, Type: Enhancement
