Repository SlimeVR/SlimeVR-Server, pull requests merged in 2025-02, with the labels that each got.

#1299 Move autimatic steamvr tracker assignment checkbox first
  gui/src/components/settings/pages/GeneralSettings.tsx
Labels: Area: GUI

#1302 Revert "Fix over 180 degrees rotations in HumanSkeleton"
  server/core/src/main/java/dev/slimevr/tracking/processor/skeleton/HumanSkeleton.kt
Labels: Area: Skeletal Model, Area: Server

#1300 Make tap over threshold always available
  gui/src/components/settings/pages/GeneralSettings.tsx
Labels: Area: GUI

#1304 Updates nodeOffset when body proportions change
  server/core/src/main/java/dev/slimevr/tracking/processor/config/SkeletonConfigManager.kt
Labels: Area: Skeletal Model, Area: Server

#1303 Disable correct with constraints server side and hide option in GUI
  gui/src/components/settings/pages/GeneralSettings.tsx
  server/core/src/main/java/dev/slimevr/tracking/processor/skeleton/HumanSkeleton.kt
Labels: Area: Skeletal Model, Area: GUI, Area: Server

#1294 Improve reset sounds
  gui/src/components/home/ResetButton.tsx
  gui/src/hooks/app.ts
  gui/src/sounds/sounds.ts
Labels: Area: GUI

#1317 Accept rest calibration in sensor info packet
  server/core/src/main/java/dev/slimevr/tracking/trackers/udp/UDPPacket.kt
Labels: Type: Bug, Area: Hardware Protocol, Priority: High, Area: Server
