Repository SlimeVR/SlimeVR-Server, pull requests merged in 2025-05, with the labels that each got.

#1421 Make sure Global mag setting is saved
  server/core/src/main/java/dev/slimevr/config/ServerConfig.kt
Labels: Area: Server

#1424 Reduce log entry size when logging invalid UDP packets
  server/core/src/main/java/dev/slimevr/tracking/trackers/udp/TrackersUDPServer.kt
Labels: Area: Hardware Protocol, Area: Server

#1364 Stop using Twemoji and just use SVGs for it
  gui/package.json
  gui/public/fonts/twemoji-glyf_colr_1.woff2
  gui/public/fonts/twemoji-picosvg.woff2
  gui/src/components/commons/LangSelector.tsx
  gui/src/i18n/config.tsx
  gui/src/i18n/names.ts
  gui/src/index.scss
  pnpm-lock.yaml
Labels: Area: GUI, Type: Enhancement

#1417 Tracker display names
  server/core/src/main/java/dev/slimevr/tracking/trackers/udp/TrackersUDPServer.kt
  server/desktop/src/main/java/dev/slimevr/desktop/tracking/trackers/hid/TrackersHID.kt
Labels: Area: Hardware Protocol, Area: Server

#1420 Allow to mute vrc warnings
  gui/public/i18n/en/translation.ftl
  gui/src/components/settings/SettingsLayout.tsx
  gui/src/components/settings/SettingsSidebar.tsx
  gui/src/components/vrc/VRCWarningsPage.tsx
  gui/src/hooks/config.ts
  gui/src/hooks/vrc-config.ts
Labels: Area: GUI, Area: Translation

#1426 Fix macOS heap error in CI
  .github/workflows/build-gui.yml
  .github/workflows/gradle.yaml
Labels: Type: Bug, Area: Continuous Integration

#1429 TrackersHID keep opening existing devices
  server/desktop/src/main/java/dev/slimevr/desktop/tracking/trackers/hid/TrackersHID.kt
Labels: Area: Server

#1428 TrackersHID report magnetometer packet
  server/desktop/src/main/java/dev/slimevr/desktop/tracking/trackers/hid/TrackersHID.kt
Labels: Status: Blocked by other issue, Type: Enhancement, Area: Server

#1430 IMUVisualizerWidget accel replace three arrows with one vector
  gui/src/components/widgets/IMUVisualizerWidget.tsx
Labels: Area: GUI

#1432 Add note to update gui dependencies when change SolarXR protocol
  CONTRIBUTING.md
Labels: Area: Documentation

#1435 Fix manual proportions not running in old browser versions
  gui/src/hooks/manual-proportions.ts
Labels: Type: Bug, Area: GUI

#1440 Add a proper tracker name for gestures trackers
  server/core/src/main/java/dev/slimevr/tracking/trackers/udp/FirmwareConstants.kt
Labels: Area: Hardware Protocol, Area: Server

#1438 [Stay Aligned] Select yaw correction rate based on IMU type
  server/core/src/main/java/dev/slimevr/config/StayAlignedConfig.kt
  server/core/src/main/java/dev/slimevr/protocol/rpc/settings/RPCSettingsBuilderKotlin.kt
  server/core/src/main/java/dev/slimevr/protocol/rpc/settings/RPCSettingsHandler.kt
  server/core/src/main/java/dev/slimevr/tracking/processor/stayaligned/StayAligned.kt
  server/core/src/main/java/dev/slimevr/tracking/processor/stayaligned/StayAlignedDefaults.kt
Labels: Area: Skeletal Model, Area: Server

#1439 [Stay Aligned] Move reset stay aligned after filtering
  server/core/src/main/java/dev/slimevr/tracking/trackers/TrackerResetsHandler.kt
Labels: Area: Server

#1443 add server/*/bin to .gitignore
  server/.gitignore
Labels: Area: Server

#1448 Free the text coursour?
  gui/src/index.scss
Labels: Area: GUI

#1451 Just aligned together some elements
  gui/src/components/home/Home.tsx
Labels: Area: GUI
