Repository SlimeVR/SlimeVR-Server, pull requests merged in 2025-03, with the labels that each got.

#1320 Document fields in TrackerResetsHandler
  server/core/src/main/java/dev/slimevr/tracking/trackers/TrackerResetsHandler.kt
Labels: Area: Documentation, Priority: Low, Type: Enhancement, Area: Server

#1318 Fix erroneous sign extension in Protobuf IPC packet handling
  server/desktop/src/main/java/dev/slimevr/desktop/platform/linux/UnixSocketBridge.java
  server/desktop/src/main/java/dev/slimevr/desktop/platform/windows/WindowsNamedPipeBridge.java
Labels: Area: SteamVR Driver, Area: Server

#1310 Fix GUI crashing on standalone builds
  gui/src/components/TopBar.tsx
Labels: Type: Bug, Priority: High, Area: GUI, OS: Android

#1312 Use bones for AutoBone error calculation
  server/core/src/main/java/dev/slimevr/autobone/errors/FootHeightOffsetError.kt
  server/core/src/main/java/dev/slimevr/autobone/errors/OffsetSlideError.kt
  server/core/src/main/java/dev/slimevr/autobone/errors/SlideError.kt
Labels: Type: Bug, Priority: Low, Area: AutoBone, Area: Server

#1284 New PoseFrame streaming format
  server/core/src/main/java/dev/slimevr/autobone/AutoBone.kt
  server/core/src/main/java/dev/slimevr/poseframeformat/PfrIO.kt
  server/core/src/main/java/dev/slimevr/poseframeformat/PfsIO.kt
  server/core/src/main/java/dev/slimevr/poseframeformat/PfsPackets.kt
  server/core/src/main/java/dev/slimevr/poseframeformat/PoseFrames.kt
  server/core/src/main/java/dev/slimevr/poseframeformat/PoseRecorder.kt
  server/core/src/main/java/dev/slimevr/poseframeformat/trackerdata/TrackerFrameData.kt
  server/core/src/main/java/dev/slimevr/poseframeformat/trackerdata/TrackerFrames.kt
  server/core/src/main/java/dev/slimevr/posestreamer/PoseFrameStreamer.kt
Labels: Priority: Low, Area: AutoBone, Type: Enhancement, Area: Server

#1325 Estimate full height and clarify height config translations
  gui/public/i18n/en/translation.ftl
  gui/src/components/onboarding/pages/body-proportions/autobone-steps/CheckFloorHeight.tsx
  gui/src/components/onboarding/pages/body-proportions/autobone-steps/CheckHeight.tsx
  gui/src/components/onboarding/pages/body-proportions/autobone-steps/TooSmolModal.tsx
Labels: Area: GUI, Type: Enhancement, Area: Translation

#1331 Better status messages and ui feedback when needing user actions on the firmware tool
  gui/public/i18n/en/translation.ftl
  gui/src/components/firmware-tool/DeviceCard.tsx
  gui/src/components/firmware-update/FirmwareUpdate.tsx
Labels: Area: GUI, Area: Translation

#1330 Fix skeleton config "changed" arrays
  server/core/src/main/java/dev/slimevr/tracking/processor/config/SkeletonConfigManager.kt
Labels: Type: Bug, Area: Skeletal Model, Priority: High, Area: Server

#1338 Redo all tap sounds with better volume and tones / remove mp3s
  gui/public/sounds/end-tap.mp3
  gui/public/sounds/fifth-tap.mp3
  gui/public/sounds/first-tap.mp3
  gui/public/sounds/fourth-tap.mp3
  gui/public/sounds/full-reset-started-sound.mp3
  gui/public/sounds/mounting-reset-started-sound.mp3
  gui/public/sounds/quick-reset-started-sound.mp3
  gui/public/sounds/second-tap.mp3
  gui/public/sounds/tapextrasetup.mp3
  gui/public/sounds/third-tap.mp3
  gui/src/components/Preload.tsx
  gui/src/components/home/ResetButton.tsx
  gui/src/hooks/app.ts
  gui/src/sounds/sounds.ts
  gui/src/sounds/xylophone.ts
Labels: Area: GUI

#1339 Scaled proportions as default
  gui/public/i18n/en/translation.ftl
  gui/src/App.tsx
  gui/src/components/Navbar.tsx
  gui/src/components/commons/Tooltip.tsx
  gui/src/components/onboarding/pages/ResetTutorial.tsx
  gui/src/components/onboarding/pages/body-proportions/ManualProportions.tsx
  gui/src/components/onboarding/pages/body-proportions/ProportionsChoose.tsx
  gui/src/components/onboarding/pages/body-proportions/ScaledProportions.tsx
  gui/src/components/onboarding/pages/body-proportions/autobone-steps/CheckHeight.tsx
  gui/src/components/onboarding/pages/body-proportions/autobone-steps/PutTrackersOn.tsx
  gui/src/components/onboarding/pages/body-proportions/autobone-steps/TooSmolModal.tsx
  gui/src/components/onboarding/pages/body-proportions/scaled-steps/ManualHeightStep.tsx
  gui/src/hooks/body-proportions.ts
  gui/src/hooks/height.ts
  gui/src/hooks/manual-proportions.ts
Labels: Area: GUI, Area: Translation

#1342 Fix manual height not submitting form value
  gui/src/components/onboarding/pages/body-proportions/scaled-steps/ManualHeightStep.tsx
Labels: Type: Bug, Priority: High, Area: GUI

#1347 Add more actions to Websocket JSON API
  server/core/src/main/java/dev/slimevr/websocketapi/WebSocketVRBridge.kt
Labels: Area: Server

#1351 Fix moving average quaternion desync & smoothing
  server/core/src/main/java/dev/slimevr/filtering/QuaternionMovingAverage.kt
Labels: Type: Bug, Priority: Low, Area: Server

#1350 Unit test toe snap + fix leg tweaks & default proportions
  server/core/src/main/java/dev/slimevr/tracking/processor/HumanPoseManager.kt
  server/core/src/main/java/dev/slimevr/tracking/processor/skeleton/LegTweaks.kt
  server/core/src/main/java/dev/slimevr/tracking/trackers/Tracker.kt
  server/core/src/test/java/dev/slimevr/unit/LegTweaksTests.kt
Labels: Type: Bug, Area: Skeletal Model, Priority: High, Area: Continuous Integration, Area: Server

#1329 Full height for manual configuration
  gui/public/i18n/en/translation.ftl
  gui/src/components/onboarding/pages/body-proportions/ProportionsResetModal.tsx
  gui/src/components/onboarding/pages/body-proportions/autobone-steps/CheckFloorHeight.tsx
  gui/src/components/onboarding/pages/body-proportions/scaled-steps/ManualHeightStep.tsx
  gui/src/hooks/height.ts
  server/core/src/main/java/dev/slimevr/autobone/errors/BodyProportionError.kt
  server/core/src/main/java/dev/slimevr/protocol/rpc/RPCHandler.kt
  server/core/src/main/java/dev/slimevr/tracking/processor/config/SkeletonConfigManager.kt
Labels: Area: Skeletal Model, Priority: Normal, Area: AutoBone, Area: GUI, Type: Enhancement, Area: Translation, Area: Server

#1357 Fix GUI freezing when reopening config folder
  gui/src-tauri/src/main.rs
  gui/src-tauri/tauri.conf.json
  gui/src/components/settings/pages/AdvancedSettings.tsx
Labels: Area: GUI

#1153 Implement Sentry error logging for GUI
  .github/workflows/build-gui.yml
  .github/workflows/gradle.yaml
  gui/.gitignore
  gui/package.json
  gui/public/i18n/en/translation.ftl
  gui/src/App.tsx
  gui/src/AppLayout.tsx
  gui/src/components/ErrorConsentModal.tsx
  gui/src/components/SerialDetectionModal.tsx
  gui/src/components/TopBar.tsx
  gui/src/components/commons/BaseModal.tsx
  gui/src/components/commons/Input.tsx
  gui/src/components/commons/Typography.tsx
  gui/src/components/commons/icon/ArrowIcons.tsx
  gui/src/components/onboarding/pages/WifiCreds.tsx
  gui/src/components/onboarding/pages/body-proportions/BodyProportions.tsx
  gui/src/components/onboarding/pages/body-proportions/autobone-steps/VerifyResults.tsx
  gui/src/components/providers/ConfigContext.tsx
  gui/src/components/settings/SettingsLayout.tsx
  gui/src/components/settings/SettingsSidebar.tsx
  gui/src/components/settings/pages/InterfaceSettings.tsx
  gui/src/components/tracker/TrackerSettings.tsx
  gui/src/hooks/app.ts
  gui/src/hooks/config.ts
  gui/src/utils/sentry.ts
  gui/vite.config.ts
  pnpm-lock.yaml
Labels: Area: Documentation, Area: Application Protocol, Area: GUI, Area: Continuous Integration, Type: Enhancement, Area: Translation, Area: Server

#997 Prepare Firmware Constants for Gestures Release
  server/core/src/main/java/dev/slimevr/tracking/trackers/udp/FirmwareConstants.kt
Labels: Area: Hardware Protocol, Priority: Normal, Status: Blocked by other issue, Type: Enhancement, Area: Server
