Repository SlimeVR/SlimeVR-Server, pull requests merged in 2025-09, with the labels that each got.

#1524 update linux metadata
  gui/src-tauri/dev.slimevr.SlimeVR.metainfo.xml
Labels: Area: GUI, Type: Enhancement, OS: Linux

#1535 Race condition patch for constraints
  server/core/src/main/java/dev/slimevr/tracking/processor/Constraint.kt
Labels: Type: Bug, Area: Skeletal Model, Priority: High, Area: Server

#1533 Fix Android serial support
  server/android/src/main/java/dev/slimevr/android/serial/AndroidSerialHandler.kt
Labels: Type: Bug, Priority: High, Type: Enhancement, OS: Android, Area: Server
