Repository SlimeVR/SlimeVR-Server, pull requests merged in 2025-04, with the labels that each got.

#1363 Fix logs folder opening wrong folder in Linux and macOS
  gui/public/i18n/en/translation.ftl
  gui/src-tauri/src/main.rs
  gui/src/components/settings/pages/AdvancedSettings.tsx
Labels: Type: Bug, Area: GUI, Area: Translation

#1367 Decrease shoulder joint's constraints
  server/core/src/main/java/dev/slimevr/tracking/processor/skeleton/HumanSkeleton.kt
Labels: Area: Skeletal Model, Area: Server

#1370 SlimeVR Trademark Clarifications
  README.md
  TRADEMARK.md
Labels: Area: Documentation

#1372 Sentry modal text fixes
  gui/public/i18n/en/translation.ftl
  gui/src/components/ErrorConsentModal.tsx
  gui/src/components/settings/pages/InterfaceSettings.tsx
Labels: Area: GUI, Area: Translation

#1373 More translation fix
  gui/public/i18n/en/translation.ftl
  gui/src/components/settings/pages/InterfaceSettings.tsx
Labels: Area: GUI, Area: Translation

#1371 Better warnings for scaled proportions
  gui/public/i18n/en/translation.ftl
  gui/src/components/onboarding/pages/body-proportions/ScaledProportions.tsx
  gui/src/components/onboarding/pages/body-proportions/scaled-steps/ManualHeightStep.tsx
Labels: Area: GUI, Area: Translation

#1379 Fix uncatched errors from not having Tauri
  gui/src/components/TopBar.tsx
  gui/src/components/onboarding/pages/body-proportions/ManualProportions.tsx
  gui/src/utils/logging.ts
Labels: Type: Bug, Area: GUI

#1386 Change fw tool reboot wording
  gui/public/i18n/en/translation.ftl
  gui/src/components/firmware-tool/DeviceCard.tsx
  gui/src/components/firmware-tool/FlashingStep.tsx
  gui/src/components/firmware-update/FirmwareUpdate.tsx
  gui/src/hooks/firmware-tool.ts
Labels: Area: GUI, Area: Translation

#1384 Remove unsupported boards from fw tool
  gui/src/components/firmware-tool/SelectBoardStep.tsx
Labels: Area: GUI

#1388 Limit prediction slerp amount
  server/core/src/main/java/dev/slimevr/filtering/QuaternionMovingAverage.kt
Labels: Type: Bug, Priority: High, Area: Server

#1387 Battery level check before update
  gui/public/i18n/en/translation.ftl
  gui/src/components/firmware-update/FirmwareUpdate.tsx
  gui/src/components/tracker/TrackerCard.tsx
  gui/src/components/tracker/TrackerSettings.tsx
Labels: Area: GUI, Area: Translation

#1383 Scale arms on proportions reset
  server/core/src/main/java/dev/slimevr/autobone/errors/BodyProportionError.kt
  server/core/src/main/java/dev/slimevr/tracking/processor/config/SkeletonConfigManager.kt
Labels: Type: Bug, Area: Skeletal Model, Priority: High, Area: AutoBone, Area: Server

#1389 Make Firmware update more reliable, prevent deadlocks of ui
  gui/src/components/firmware-update/FirmwareUpdate.tsx
Labels: Area: GUI

#1381 Increase default log limits and refactor FileLogHandler
  server/core/src/main/java/io/eiren/util/logging/FileLogHandler.java
  server/core/src/main/java/io/eiren/util/logging/FileLogHandler.kt
  server/core/src/main/java/io/eiren/util/logging/LogManager.java
Labels: Priority: Low, Type: Enhancement, Area: Server

#1382 Simplify mounting reset status checking
  server/core/src/main/java/dev/slimevr/tracking/processor/skeleton/HumanSkeleton.kt
Labels: Type: Bug, Area: Skeletal Model, Priority: High, Area: Server

#1397 Add OTA port to firewall script
  server/core/resources/firewall.bat
Labels: Type: Bug, Priority: High, Area: Server

#1393 fw update server deadlock fix
  server/core/src/main/java/dev/slimevr/firmware/FirmwareUpdateHandler.kt
  server/core/src/main/java/dev/slimevr/firmware/OTAUpdateTask.kt
Labels: Area: Server

#1394 softer reset sounds
  gui/src/sounds/sounds.ts
  gui/src/sounds/xylophone.ts
Labels: Area: GUI

#1398 Fix for override.ftl not working
  gui/src-tauri/capabilities/migrated.json
  gui/src/i18n/config.tsx
Labels: Area: GUI

#1400 add fade out to reset button borders
  gui/src/components/home/ResetButton.tsx
Labels: Area: GUI

#1366 Use HID tracker magnetometer status from mag_id
  server/desktop/src/main/java/dev/slimevr/desktop/tracking/trackers/hid/TrackersHID.kt
Labels: Type: Enhancement, Area: Server

#1362 Use automatic hyphenation when possible
  gui/.lintstagedrc.mjs
  gui/src/index.scss
Labels: Area: GUI, Type: Enhancement

#1395 Load configured height for manual height config
  gui/src/components/onboarding/pages/body-proportions/autobone-steps/CheckFloorHeight.tsx
  gui/src/components/onboarding/pages/body-proportions/scaled-steps/ManualHeightStep.tsx
  gui/src/hooks/height.ts
Labels: Status: Help Wanted, Area: GUI, Type: Enhancement

#1355 Optimise re-renders
  gui/package.json
  gui/src/components/ClearMountingButton.tsx
  gui/src/components/TopBar.tsx
  gui/src/components/UnknownDeviceModal.tsx
  gui/src/components/WidgetsComponent.tsx
  gui/src/components/commons/BodyDisplay.tsx
  gui/src/components/firmware-tool/FlashingMethodStep.tsx
  gui/src/components/firmware-update/FirmwareUpdate.tsx
  gui/src/components/home/Home.tsx
  gui/src/components/onboarding/BodyAssignment.tsx
  gui/src/components/onboarding/pages/CalibrationTutorial.tsx
  gui/src/components/onboarding/pages/ConnectTracker.tsx
  gui/src/components/onboarding/pages/ResetTutorial.tsx
  gui/src/components/onboarding/pages/WifiCreds.tsx
  gui/src/components/onboarding/pages/assignment-preparation/AssignmentTutorial.tsx
  gui/src/components/onboarding/pages/body-proportions/ManualProportions.tsx
  gui/src/components/onboarding/pages/body-proportions/ScaledProportions.tsx
  gui/src/components/onboarding/pages/body-proportions/autobone-steps/PutTrackersOn.tsx
  gui/src/components/onboarding/pages/mounting/ManualMounting.tsx
  gui/src/components/onboarding/pages/mounting/mounting-steps/PutTrackersOn.tsx
  gui/src/components/onboarding/pages/trackers-assign/TrackerAssignOptions.tsx
  gui/src/components/onboarding/pages/trackers-assign/TrackerAssignment.tsx
  gui/src/components/onboarding/pages/trackers-assign/TrackerSelectionMenu.tsx
  gui/src/components/tracker/TrackerPartCard.tsx
  gui/src/components/tracker/TrackerSettings.tsx
  gui/src/components/tracker/TrackersTable.tsx
  gui/src/components/widgets/SkeletonVisualizerWidget.tsx
  gui/src/hooks/app.ts
  gui/src/hooks/discord-presence.ts
  gui/src/hooks/imu-logic.ts
  gui/src/hooks/status-system.ts
  gui/src/hooks/tracker.ts
  gui/src/store/app-store.ts
  gui/src/utils/sentry.ts
  gui/vite.config.ts
  pnpm-lock.yaml
Labels: Area: GUI

#1352 Apply filtering post-reset, reapply 180° fix removal & fix getYawQuaternion polarity
  server/core/src/main/java/dev/slimevr/tracking/processor/skeleton/HumanSkeleton.kt
  server/core/src/main/java/dev/slimevr/tracking/trackers/Tracker.kt
  server/core/src/main/java/dev/slimevr/tracking/trackers/TrackerFilteringHandler.kt
  server/core/src/main/java/dev/slimevr/tracking/trackers/TrackerResetsHandler.kt
Labels: Area: Skeletal Model, Area: Server

#1403 vrconfig linux fix
  server/desktop/src/main/java/dev/slimevr/desktop/games/vrchat/DesktopVRCConfigHandler.kt
Labels: Area: Server

#1359 Interpolation tests & better skeleton test class
  server/core/src/main/java/dev/slimevr/tracking/processor/skeleton/HumanSkeleton.kt
  server/core/src/main/java/io/github/axisangles/ktmath/Quaternion.kt
  server/core/src/test/java/dev/slimevr/unit/MountingResetTests.kt
  server/core/src/test/java/dev/slimevr/unit/SkeletonResetTests.kt
  server/core/src/test/java/dev/slimevr/unit/TestTrackerSet.kt
  server/core/src/test/java/dev/slimevr/unit/TrackerTestUtils.kt
  server/core/src/test/java/dev/slimevr/unit/TwinExtendedBackTests.kt
Labels: Area: Skeletal Model, Priority: High, Area: Continuous Integration, Type: Enhancement, Area: Server

#1402 add transition to tracker shadows
  gui/src/components/tracker/TrackerCard.tsx
  gui/src/components/tracker/TrackerPartCard.tsx
  gui/src/components/tracker/TrackersTable.tsx
Labels: Area: GUI

#1408 Fix fw tool crash
  gui/src/components/firmware-update/FirmwareUpdate.tsx
Labels: Area: GUI

#1405 Filtering fixes
  server/core/src/main/java/dev/slimevr/config/FiltersConfig.kt
  server/core/src/main/java/dev/slimevr/config/VRConfig.kt
  server/core/src/main/java/dev/slimevr/filtering/QuaternionMovingAverage.kt
  server/core/src/main/java/dev/slimevr/tracking/trackers/Tracker.kt
  server/core/src/main/java/dev/slimevr/tracking/trackers/TrackerFilteringHandler.kt
  server/core/src/main/java/dev/slimevr/tracking/trackers/TrackerResetsHandler.kt
Labels: Type: Bug, Priority: High, Area: Server

#1409 Add OTA port to firewall uninstall script
  server/core/resources/firewall_uninstall.bat
Labels: Type: Bug, Priority: High, OS: Windows, Area: Server

#1412 Fix lower_leg-desc and elbow_offset-desc typos
  gui/public/i18n/en/translation.ftl
Labels: Area: Translation

#1415 fix Firewall Rules for java.exe
  server/core/resources/firewall.bat
Labels: Area: Server

#1410 Better battery and wifi statuses behavior
  gui/src/components/commons/icon/WifiIcon.tsx
  gui/src/components/firmware-update/FirmwareUpdate.tsx
  gui/src/components/tracker/TrackerBattery.tsx
  gui/src/components/tracker/TrackerCard.tsx
  gui/src/components/tracker/TrackerWifi.tsx
  gui/src/components/tracker/TrackersTable.tsx
Labels: Area: GUI

#1411 make tracker entry borders consistent with no border
  gui/src/components/tracker/TrackerCard.tsx
  gui/src/components/tracker/TrackersTable.tsx
Labels: Area: GUI

#1413 Fix battery resistances being sent as string instead of numbers
  gui/src/hooks/firmware-tool.ts
Labels: Area: GUI
