Repository SlimeVR/SlimeVR-Server, pull requests merged in 2025-06, with the labels that each got.

#1458 Update linux metadata releases
  dev.slimevr.SlimeVR.metainfo.xml
Labels: Area: Continuous Integration, Type: Enhancement, OS: Linux

#1457 Use `fetchResourceUrl` for the setup wizard video
  gui/src/components/onboarding/pages/ConnectTracker.tsx
  gui/src/utils/tauri.ts
Labels: Type: Bug, Area: GUI

#1466 Fix neck length not being able to be used for VMC
  server/core/src/main/java/dev/slimevr/osc/VMCHandler.kt
  server/core/src/main/java/dev/slimevr/tracking/processor/HumanPoseManager.kt
  server/core/src/main/java/dev/slimevr/tracking/processor/config/SkeletonConfigManager.kt
Labels: Area: Skeletal Model, Area: Server, Area: VMC

#1469 Fix vrc tracker model unknown text
  gui/public/i18n/en/translation.ftl
Labels: Area: Translation

#1468 [Stay Aligned] Fix wild swings when yaw resetting by resetting Stay Aligned before filtering
  server/core/src/main/java/dev/slimevr/tracking/trackers/TrackerResetsHandler.kt
Labels: Area: Server

#1452 Individual Pose calibration for stay aligned
  gui/public/i18n/en/translation.ftl
  gui/src/components/settings/pages/components/StayAlignedPoseModal.tsx
  gui/src/components/settings/pages/components/StayAlignedSettings.tsx
Labels: Area: GUI, Type: Enhancement, Area: Translation

#1475 Fix number / order of steps in stay aligned
  gui/public/i18n/en/translation.ftl
  gui/src/components/onboarding/pages/stay-aligned/stay-aligned-steps/RelaxedPoseSteps.tsx
  gui/src/components/settings/pages/components/StayAlignedPoseModal.tsx
Labels: Type: Bug, Area: GUI, Area: Translation

#1478 Remove BVH button on android builds
  gui/src/components/WidgetsComponent.tsx
  gui/src/vite-env.d.ts
  server/android/build.gradle.kts
  server/android/src/main/java/dev/slimevr/android/MainActivity.kt
Labels: Type: Bug, Area: GUI, OS: Android, Area: Server

#1481 Update VRM reader to the new VMC 1.0 spec
  gui/src/components/settings/pages/VMCSettings.tsx
  server/core/src/main/java/dev/slimevr/osc/UnityBone.kt
  server/core/src/main/java/dev/slimevr/osc/VRMReader.kt
Labels: Priority: High, Area: GUI, Type: Enhancement, Area: Server, Area: VMC
