Repository SlimeVR/SlimeVR-Server, pull requests merged in 2025-01, with the labels that each got.

#1249 AutoBone bone contribution fix & cleanup
  server/core/src/main/java/dev/slimevr/autobone/AutoBone.kt
  server/core/src/main/java/dev/slimevr/autobone/errors/PositionError.kt
  server/core/src/main/java/dev/slimevr/autobone/errors/PositionOffsetError.kt
  server/core/src/main/java/dev/slimevr/config/AutoBoneConfig.kt
  server/core/src/main/java/dev/slimevr/config/CurrentVRConfigConverter.java
  server/core/src/main/java/dev/slimevr/config/VRConfig.kt
Labels: Type: Bug, Priority: High, Area: AutoBone, Type: Enhancement, Area: Server

#1272 Fix CI bugs that appeared recently
  .github/workflows/gradle.yaml
  flake.nix
  gui/.gitignore
  gui/vite.config.ts
Labels: Type: Bug, Area: GUI, Area: Continuous Integration

#1265 Fix "trackers still on" when closing via tray
  dev.slimevr.SlimeVR.metainfo.xml
  gui/src/components/TopBar.tsx
Labels: Type: Bug, Area: GUI

#1276 i18n: improve SlimeVR tracker flashing instruction
  gui/public/i18n/en/translation.ftl
Labels: Area: Translation

#1278 Attempt to fix moving average quaternions not resetting properly
  server/core/src/main/java/dev/slimevr/filtering/QuaternionMovingAverage.kt
  server/core/src/main/java/dev/slimevr/tracking/trackers/Tracker.kt
  server/core/src/main/java/dev/slimevr/tracking/trackers/TrackerFilteringHandler.kt
Labels: Area: Server

#1262 Improve log file behaviour
  server/core/src/main/java/io/eiren/util/logging/FileLogHandler.java
  server/core/src/main/java/io/eiren/util/logging/LogManager.java
Labels: Priority: Low, Type: Enhancement, Area: Server

#1247 SolarXR IPC Socket
  server/core/src/main/java/dev/slimevr/VRServer.kt
  server/core/src/main/java/dev/slimevr/websocketapi/WebsocketConnection.java
  server/desktop/src/main/java/dev/slimevr/desktop/Main.kt
  server/desktop/src/main/java/dev/slimevr/desktop/platform/linux/UnixSocketConnection.java
  server/desktop/src/main/java/dev/slimevr/desktop/platform/linux/UnixSocketRpcBridge.java
Labels: Area: SteamVR Driver, Area: Server

#1287 Update apt cache action to fix CI error
  .github/workflows/build-gui.yml
  .github/workflows/gradle.yaml
Labels: Type: Bug, Area: Continuous Integration

#1222 Skeleton Constraints
  gui/public/i18n/en/translation.ftl
  gui/src/components/settings/pages/GeneralSettings.tsx
  server/core/src/main/java/dev/slimevr/autobone/AutoBoneStep.kt
  server/core/src/main/java/dev/slimevr/filtering/QuaternionMovingAverage.kt
  server/core/src/main/java/dev/slimevr/protocol/rpc/settings/RPCSettingsBuilder.java
  server/core/src/main/java/dev/slimevr/protocol/rpc/settings/RPCSettingsHandler.kt
  server/core/src/main/java/dev/slimevr/tracking/processor/Bone.kt
  server/core/src/main/java/dev/slimevr/tracking/processor/BoneType.java
  server/core/src/main/java/dev/slimevr/tracking/processor/Constraint.kt
  server/core/src/main/java/dev/slimevr/tracking/processor/TransformNode.kt
  server/core/src/main/java/dev/slimevr/tracking/processor/config/SkeletonConfigManager.kt
  server/core/src/main/java/dev/slimevr/tracking/processor/config/SkeletonConfigToggles.java
  server/core/src/main/java/dev/slimevr/tracking/processor/skeleton/HumanSkeleton.kt
  server/core/src/main/java/dev/slimevr/tracking/trackers/TrackerFilteringHandler.kt
  server/core/src/main/java/dev/slimevr/tracking/trackers/TrackerResetsHandler.kt
Labels: Area: Skeletal Model, Area: Application Protocol, Priority: Normal, Status: Blocked by other issue, Area: AutoBone, Area: GUI, Type: Enhancement, Area: Translation, Area: Server

#1289 add university of maryland mirror for Eclipse formatter
  gradle.properties
  server/build.gradle.kts
Labels: Type: Bug, Priority: High, Area: Continuous Integration, Area: Server

#1285 Improve close window request checks
  flake.nix
  gui/src-tauri/capabilities/migrated.json
  gui/src-tauri/src/main.rs
  gui/src/components/TopBar.tsx
Labels: Type: Bug, Area: GUI, Type: Enhancement

#1286 Make SlimeVR icon rounded
  gui/package.json
  gui/src-tauri/icons/1024x1024.png
  gui/src-tauri/icons/128x128.png
  gui/src-tauri/icons/128x128@2x.png
  gui/src-tauri/icons/32x32.png
  gui/src-tauri/icons/Square107x107Logo.png
  gui/src-tauri/icons/Square142x142Logo.png
  gui/src-tauri/icons/Square150x150Logo.png
  gui/src-tauri/icons/Square284x284Logo.png
  gui/src-tauri/icons/Square30x30Logo.png
  gui/src-tauri/icons/Square310x310Logo.png
  gui/src-tauri/icons/Square44x44Logo.png
  gui/src-tauri/icons/Square71x71Logo.png
  gui/src-tauri/icons/Square89x89Logo.png
  gui/src-tauri/icons/StoreLogo.png
  gui/src-tauri/icons/android/mipmap-hdpi/ic_launcher.png
  gui/src-tauri/icons/android/mipmap-hdpi/ic_launcher_foreground.png
  gui/src-tauri/icons/android/mipmap-hdpi/ic_launcher_round.png
  gui/src-tauri/icons/android/mipmap-mdpi/ic_launcher.png
  gui/src-tauri/icons/android/mipmap-mdpi/ic_launcher_foreground.png
  gui/src-tauri/icons/android/mipmap-mdpi/ic_launcher_round.png
  gui/src-tauri/icons/android/mipmap-xhdpi/ic_launcher.png
  gui/src-tauri/icons/android/mipmap-xhdpi/ic_launcher_foreground.png
  gui/src-tauri/icons/android/mipmap-xhdpi/ic_launcher_round.png
  gui/src-tauri/icons/android/mipmap-xxhdpi/ic_launcher.png
  gui/src-tauri/icons/android/mipmap-xxhdpi/ic_launcher_foreground.png
  gui/src-tauri/icons/android/mipmap-xxhdpi/ic_launcher_round.png
  gui/src-tauri/icons/android/mipmap-xxxhdpi/ic_launcher.png
  gui/src-tauri/icons/android/mipmap-xxxhdpi/ic_launcher_foreground.png
  gui/src-tauri/icons/android/mipmap-xxxhdpi/ic_launcher_round.png
  gui/src-tauri/icons/icon.icns
  gui/src-tauri/icons/icon.ico
  gui/src-tauri/icons/icon.png
  gui/src-tauri/icons/icon.svg
  gui/src-tauri/icons/ios/AppIcon-20x20@1x.png
  gui/src-tauri/icons/ios/AppIcon-20x20@2x-1.png
  gui/src-tauri/icons/ios/AppIcon-20x20@2x.png
  gui/src-tauri/icons/ios/AppIcon-20x20@3x.png
  gui/src-tauri/icons/ios/AppIcon-29x29@1x.png
  gui/src-tauri/icons/ios/AppIcon-29x29@2x-1.png
  gui/src-tauri/icons/ios/AppIcon-29x29@2x.png
  gui/src-tauri/icons/ios/AppIcon-29x29@3x.png
  gui/src-tauri/icons/ios/AppIcon-40x40@1x.png
  gui/src-tauri/icons/ios/AppIcon-40x40@2x-1.png
  gui/src-tauri/icons/ios/AppIcon-40x40@2x.png
  gui/src-tauri/icons/ios/AppIcon-40x40@3x.png
  gui/src-tauri/icons/ios/AppIcon-512@2x.png
  gui/src-tauri/icons/ios/AppIcon-60x60@2x.png
  gui/src-tauri/icons/ios/AppIcon-60x60@3x.png
  gui/src-tauri/icons/ios/AppIcon-76x76@1x.png
  gui/src-tauri/icons/ios/AppIcon-76x76@2x.png
  gui/src-tauri/icons/ios/AppIcon-83.5x83.5@2x.png
Labels: Area: GUI, Type: Enhancement

#1271 Tooltips API for mobile and desktop
  gui/src/components/commons/Tooltip.tsx
  gui/src/components/home/ResetButton.tsx
Labels: Area: GUI

#1292 Give voltage value to the battery icon
  gui/src/components/tracker/TrackerCard.tsx
Labels: Area: GUI

#1291 Small ui fixes on firmware updates
  gui/public/i18n/en/translation.ftl
  gui/src/components/firmware-update/FirmwareUpdate.tsx
  gui/src/components/tracker/TrackerCard.tsx
  gui/src/hooks/app.ts
  gui/src/hooks/cache.ts
Labels: Area: GUI, Area: Translation
