Repository SlimeVR/SlimeVR-Server, pull requests merged in 2025-07, with the labels that each got.

#1473 Add mounting reset protobuf binding
  server/desktop/src/main/java/dev/slimevr/desktop/platform/ProtobufBridge.kt
Labels: Area: Application Protocol, Priority: Normal, Type: Enhancement, Area: SteamVR Driver, Area: Server

#1484 Fix concurrency issue with status interacting with multiple threads
  server/core/src/main/java/dev/slimevr/status/StatusSystem.kt
Labels: Type: Bug, Priority: High, Area: Server

#1487 Update jSerialComm to latest version
  server/desktop/build.gradle.kts
Labels: Type: Enhancement, Area: Server

#1482 Add ARM builds in CI
  .github/workflows/build-gui.yml
  .github/workflows/gradle.yaml
  .node-version
  flake.lock
  flake.nix
Labels: Area: Continuous Integration, Type: Enhancement

#1474 Grammer and speeling feex
  gui/public/i18n/en/translation.ftl
  gui/src/components/firmware-tool/AddImusStep.tsx
  gui/src/components/onboarding/pages/CalibrationTutorial.tsx
Labels: Type: Bug, Priority: Low, Area: GUI, Type: Enhancement, Area: Translation

#1490 Yaw reset smoothing fix
  server/core/src/main/java/dev/slimevr/tracking/trackers/Tracker.kt
  server/core/src/main/java/dev/slimevr/tracking/trackers/TrackerResetsHandler.kt
  server/core/src/main/java/dev/slimevr/util/InterpolationHandler.kt
Labels: Type: Bug, Priority: Low, Area: Server

#1493 Enable pnpm and npm in Nix flake
  flake.nix
Labels: Type: Bug, OS: Linux

#1491 Staggered fw upate system
  gui/public/i18n/en/translation.ftl
  gui/src-tauri/capabilities/migrated.json
  gui/src/components/firmware-update/FirmwareUpdate.tsx
  gui/src/components/tracker/TrackerCard.tsx
  gui/src/components/tracker/TrackerSettings.tsx
  gui/src/hooks/app.ts
  gui/src/hooks/firmware-update.ts
Labels: Area: GUI, Area: Translation

#1497 ci: add update manifest generation workflow
  .github/workflows/generate-update-manifest.yml
Labels: Area: Continuous Integration

#1498 ci: guess no node cache?
  .github/workflows/generate-update-manifest.yml
Labels: Area: Continuous Integration

#1494 Fix deploy data fetching
  Cargo.lock
  gui/package.json
  gui/src-tauri/Cargo.toml
  gui/src-tauri/capabilities/migrated.json
  gui/src-tauri/src/main.rs
  gui/src-tauri/src/tray.rs
  gui/src/hooks/firmware-update.ts
  gui/tsconfig.json
  pnpm-lock.yaml
  rust-toolchain.toml
Labels: Area: GUI
